<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(required v-model='form.codigo', minlength='4')
		.column
			b-field(:label="$t('label.key')" 
					:type="{ 'is-danger': $v.form.clave.$error }") 
				b-input(required v-model='form.clave', minlength='4')
		.column
			b-field(:label="$t('label.people')" :type="{ 'is-danger': $v.form.persona.$error }")
				.select.w100( v-bind:class="{ 'is-loading': isLoading}" style='height: 36px;' )
					SelectGeneral(v-model="form.persona" :options="referencias.personasList" :required='true')
	.columns
		.column
			b-field(:label="$t('label.turn')" :type="{ 'is-danger': $v.form.turno.$error }")
				.select.w100( v-bind:class="{ 'is-loading': isLoading}" style='height: 36px;' )
					SelectGeneral(v-model="form.turno" :options="referencias.turnosList" :required='true')
		.column
			b-field(:label="$t('label.privilege')" :type="{ 'is-danger': $v.form.privilegio.$error }")
				.select.w100( v-bind:class="{ 'is-loading': isLoading}" style='height: 36px;' )
					SelectGeneral(v-model="form.privilegio" :options="referencias.privilegiosList" :required='false')
		.column
	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			codigo: {required, minLength: minLength(4)},
			clave: {required, minLength: minLength(4)},
			persona: {required},
			turno: {required},
			privilegio: {required}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>