<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(required v-model='form.codigo', minlength='2')
		.column
			b-field(:label="$t('label.controlNumber')" 
					:type="{ 'is-danger': $v.form.numero_control.$error }")
				b-input(v-model='form.numero_control', minlength='4')
		.column
			SelectGeneral(v-model="form.servicio"  :title="$t('label.service')"  :options="condicionList"  :error="{ 'is-danger': $v.form.servicio.$error }"  :required='true')
	
	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
		SelectGeneral
	},
	data() {
		return {
			condicionList: [
				{
					"id": 1,
					"nombre": "Si",
				},
				{
					"id": 0,
					"nombre": "No",
				}
			],
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			servicio:{required},
			codigo: {required, minLength: minLength(2)},
			numero_control:{minLength: minLength(4)}
			
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>