<template lang="pug">
div()
	.columns
		.column
			SelectGeneral(v-model="form.chofer"  :title="$t('label.driver')"  :options="referencias.choferesList"  :error="{ 'is-danger': $v.form.chofer.$error }"  :required='false')
		.column
			SelectGeneral(v-model="form.proveedor"  :title="$t('label.provider')"  :options="referencias.proveedoresList"  :error="{ 'is-danger': $v.form.proveedor.$error }"  :required='true')
		.column
			SelectGeneral(v-model="form.cliente"  :title="$t('label.client')"  :options="referencias.clientesList"  :error="{ 'is-danger': $v.form.cliente.$error }"  :required='false')
	.columns
		.column
			SelectGeneral(v-model="form.operador"  :title="$t('label.operator')"  :options="referencias.operadoresList"  :error="{ 'is-danger': $v.form.operador.$error }"  :required='false')
		.column
		.column
	div(style="margin-top: 50px")
</template>
<script>
import {required} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step3",
	props: {
		model: Object,
		referencias : Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			chofer: {},
			proveedor: {required},
			cliente: {},
			operador: {}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>