<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.date')" 
					:type="{ 'is-danger': $v.form.fecha.$error }") 
				b-datepicker(ref='datepicker', expanded='', placeholder='31/12/2000', required, v-model='form.fecha')
		.column
			b-field(:label="$t('label.hour')" 
					:type="{ 'is-danger': $v.form.hora.$error }")
				b-input(required v-model='form.hora' type="time")
		.column
			b-field(:label="$t('label.description')" example
					:type="{ 'is-danger': $v.form.descripcion.$error }")
				b-input(v-model='form.descripcion', minlength='4')
	.columns
		.column
			b-field(:label="$t('label.observation')" 
					:type="{ 'is-danger': $v.form.observacion.$error }") 
				b-input(v-model='form.observacion', minlength='4')
		.column
			SelectGeneral(v-model="form.grupo"  :title="$t('label.group')"  :options="referencias.gruposList"  :error="{ 'is-danger': $v.form.grupo.$error }"  :required='false')
		.column
			SelectGeneral(v-model="form.camion"  :title="$t('label.truck')"  :options="referencias.camionesList"  :error="{ 'is-danger': $v.form.camion.$error }"  :required='false')
	div(style="margin-top: 180px")
</template>
<script>
import {required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step2",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			grupo:{},
			camion:{},
			fecha: {required},
			hora: {required},
			descripcion:{minLength: minLength(4)},
			observacion:{minLength: minLength(4)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>