<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.route')" 
					:type="{ 'is-danger': $v.form.ruta.$error }") 
				b-input(required v-model='form.ruta', minlength='3' )
		.column
			b-field(:label="$t('label.order')" 
					:type="{ 'is-danger': $v.form.orden.$error }")
				b-input(v-model='form.orden', minlength='1', maxlength='11', min="0", type="number", placeholder="1" :controls="false")
		.column
			b-field(:label="$t('label.permissions')" 
					:type="{ 'is-danger': $v.form.permissions.$error }")
				b-input(v-model='form.permissions', minlength='4')
	.columns
		.column
			SelectGeneral(v-model="form.modulo_padre"  :title="$t('label.parentModule')"  :options="referencias.modulosList"  :error="{ 'is-danger': $v.form.modulo_padre.$error }"  :required='false')
		.column
			b-field(:label="$t('label.configModule')" 
					:type="{ 'is-danger': $v.form.config_modulo.$error }")
				b-input(v-model='form.config_modulo', minlength='4')
		.column

	div(style="margin-top: 50px")
</template>
<script>
import { required, numeric, minLength, maxLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step2",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			modulo_padre: {},
			ruta: {required, minLength: minLength(3)},
			orden: {required, numeric, minLength: minLength(1), maxLength: maxLength(11)},
			permissions: {minLength: minLength(4)},
			config_modulo: {minLength: minLength(4)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>