<template lang="pug">
#recepcion.container
	.buttons.is-right
		b-field(position='is-centered')
			b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
			p.control
				b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.reception',1)})}}
	b-table(
		:data="isEmpty ? [] : filteredRecepcion"
		:loading="isLoading"
		striped
		narrowed
		paginated
		sticky-header
		:total="total"
		:per-page="perPage"
		:default-sort="['id', 'asc']"
		@page-change="onPageChange"
		hoverable)
		template( slot-scope="props")
			b-table-column(field="id" sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
			b-table-column(field="codigo" sortable searchable :label="$t('label.code')") {{ props.row.codigo }}
			b-table-column(field="numero_control" sortable searchable :label="$t('label.controlNumber')") {{ props.row.numero_control }}
			b-table-column(field="servicio"  sortable searchable centered :label="$t('label.service')") {{(props.row.servicio==1)?"Si":"No" }}
			b-table-column(field="fecha" sortable searchable :label="$t('label.date')") {{ props.row.fecha | dateFormat}}
			b-table-column(field="hora" sortable searchable :label="$t('label.hour')") {{ props.row.hora | hourFormat}}
			b-table-column(field="descripcion" sortable searchable :label="$t('label.description')") {{ props.row.descripcion }}
			b-table-column(field="observacion" sortable searchable :label="$t('label.observation')") {{ props.row.observacion }}
			b-table-column(field="grupo.nombre" sortable searchable :label="$t('label.group')") {{ props.row.grupo.nombre ? props.row.grupo.nombre : '--' }}
			b-table-column(field="camion.nombre" sortable searchable :label="$t('label.truck')") {{ props.row.camion.nombre ? props.row.camion.nombre : '--' }}
			b-table-column(field="chofer.nombre" sortable searchable :label="$t('label.driver')") {{ props.row.chofer.nombre ? props.row.chofer.nombre : '--' }}
			b-table-column(field="proveedor.nombre" sortable searchable :label="$t('label.provider')") {{ props.row.proveedor.nombre ? props.row.proveedor.nombre : '--' }}
			b-table-column(field="cliente.nombre" sortable searchable :label="$t('label.client')") {{ props.row.cliente.nombre ? props.row.cliente.nombre : '--' }}
			b-table-column(field="operador.nombre" sortable searchable :label="$t('label.operator')") {{ props.row.operador.nombre }} 
			b-table-column(field="status.nombre" sortable searchable centered  :label="$t('label.status')") 
				StatusType( :item="props.row")
			b-table-column(field="actions" 
							sticky
							cell-class="is-sticky-right"
							header-class="is-sticky-right"
							:label="$t('label.actions')" )
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-info", :label="$t('label.details',{module:$tc('module.reception')})")
					b-button(type="is-info" size="is-small" icon-right="file" @click="showDetails(props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.reception')})")
					b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.reception')})")
					b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.reception')})")
					b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
		template(slot='empty')
			section.section.content.has-text-grey.has-text-centered
				p
					b-icon(icon='frown', size='is-large')
				p {{$t('label.tblisEmpty',{module:$tc('module.reception',2)})}}

	Detalles( ref="detalles" :item="{id:0}")

</template>
<script>
import apiRecepcion from "@/api/recepcion";
//-components
import modal from "./modal";
import Detalles from "./detalles";
import StatusType from "@/components/StatusType"

export default {
	name:"recepcion",
	data(){
		return{
			recepcion:[],
			isLoading:false,
			isEmpty:true,
			search: "",
			perPage: 10,
			total: 0,
			page: 1
		}
	},
	mounted(){
		this.list()
	},
	components:{
		StatusType,
		Detalles
	},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiRecepcion.list()
			.then(function (res){
			if(res.status == 200){
				self.recepcion = res.data.data
				self.isEmpty = false
			}
			})
			.catch(function (err) {
				console.error('@listRecepcion',err)
			})
			.finally(function() {
				self.isLoading = false
			})
		},
		showModal(event,object=null) {
			this.$buefy.modal.open({
				props: { 
					event:event,
					object:object?object:{}
				},
				parent: this,
				component: modal,
				hasModalCard: true,
				trapFocus: true
			});
		},
		destroy(id){
			var self = this   
			this.$buefy.dialog.confirm({
				title: this.$t('label.delete',{module:this.$tc('module.reception')}),
				message: this.$t('messages.delete_confirm',{module:this.$tc('module.reception')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					apiRecepcion.destroy(id)
					.then(function(res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@destroy',err)
					})
					.finally(function() { self.list();})
				}
			})
		},
		recycle(id){
			var self = this
			this.$buefy.dialog.confirm({
				title:this.$t('label.recycle',{module:this.$tc('module.reception')}),
				message: this.$t('messages.recycle_confirm',{module:this.$tc('module.reception')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => {
					apiRecepcion.recycle(id)
					.then(function (res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@delete',err);
					})
					.finally(function() {
						self.list();
					});
				}
			});
		},
		showDetails(row){
			this.$refs.detalles.item=row;
			this.$refs.detalles.list(row.id);
			this.$refs.detalles.visible=true;
		},
		onPageChange(page) {
			this.page = page;
			this.loadAsyncData();
		}
	},
	computed: {
		filteredRecepcion() {
			let filter = this.recepcion.filter(ele => {
				if(!ele.codigo){ele.codigo="";}
				if(!ele.numero_control){ele.numero_control="";}
				if(!ele.servicio){ele.servicio={};ele.servicio="";}
				//if(!ele.servicio){this.servicio="No";}else{if (ele.servicio === 1) {this.servicio="Si";}else{this.servicio="No";} }
				if(!ele.fecha){ele.fecha="";}
				if(!ele.hora){ele.hora="";}
				if(!ele.descripcion){ele.descripcion="";}
				if(!ele.observacion){ele.observacion="";}
				if(!ele.grupo){ele.grupo={};ele.grupo.nombre="";}
				if(!ele.camion){ele.camion={};ele.camion.nombre="";}
				if(!ele.chofer){ele.chofer={};ele.chofer.nombre="";}
				if(!ele.proveedor){ele.proveedor={};ele.proveedor.nombre="";}
				if(!ele.cliente){ele.cliente={};ele.cliente.nombre="";}
				if(!ele.operador){ele.operador={};ele.operador.nombre="";}
				if(!ele.status){ele.status={};ele.status.nombre="";}
				
				let result =
					this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
				||	ele.codigo.toLowerCase().match(this.search.toLowerCase())
				||	ele.numero_control.toLowerCase().match(this.search.toLowerCase())
				||	this.lodash.toString(ele.servicio).toLowerCase().match(this.search.toLowerCase())
				||	this.lodash.toString(ele.fecha).toLowerCase().match(this.search.toLowerCase())
				||	this.lodash.toString(ele.hora).toLowerCase().match(this.search.toLowerCase())
				//||	this.moment(ele.fecha, 'YYYY-MM-DD').format('DD/MM/YYYY').match(this.search)
				//||	this.moment(ele.hora, 'HH:mm:ss').format('HH:mm:ss').match(this.search)
				||	ele.descripcion.toLowerCase().match(this.search.toLowerCase())
				||	ele.observacion.toLowerCase().match(this.search.toLowerCase())
				||	ele.grupo.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.camion.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.chofer.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.proveedor.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.cliente.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.operador.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
				;
				return result;
			});
			if (this.search == "") {
				filter = this.recepcion;
			}
		return filter;
		}
	}
};
</script>