// #nav-menu{
// 	display: block;
// 	ul{
// 		display: block;
// 		& a{
// 			display: block;
// 			width: 100%;
// 			padding: 8px;
// 			color:rgb(201, 201, 201);
// 			&:hover{
// 				background: #121417
// 			}
// 			span{
// 				padding: 0 .5rem
// 			}
// 			.icon.icon-drop-list{
// 				float: right;
// 			}
// 			& + ul {
// 				background-color: #1d1f22;
// 			}
// 		}
// 		ul {
// 			background-color: #0d0f11;
// 		}
// 	}
// }