@import "~bulma/sass/utilities/_all";
@import './theme.scss';
@import './nav.scss';


::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 7px;
	height: 7px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: #555;
}
.b-table .table-wrapper.has-sticky-header{
  min-height: 120px !important;
  height: auto !important;
}

td,th{white-space: nowrap;}

.th-wrap .control input{@extend .is-small}

.buttons .b-tooltip{
  margin-right:.1rem;
}

.is-sticky-right{
right: 0;
}

.flex-nowrap{flex-wrap: unset;}

@mixin transition {
  transition: 250ms ease-in-out 50ms;
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
//VARs
$aside-bar-width:230px;

.path-active{
  &:hover{
    & a{ color: $primary }
  }
  & a{ color: $primary }
}

html{background-color: #f3f3f3}
.w100{width: 100%;}
b{font-weight: bold;}

//MIXINS
@mixin transition($t) {
  transition: $t 250ms ease-in-out 50ms;
}


#adminTemplate{
  padding-left:$aside-bar-width;
  @include transition(left);
}

#appContainer{
  padding:2rem 1rem;
  min-height: 86vh;
}

.clip-path{
  clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
}

.abs-rt{
  position: absolute;
  right: 0;
  top:0;
  margin: 0.3rem;
}
//SIDEBAR
#asidebar{
  position: fixed;
  box-shadow: 0 0 8px rgba(58, 54, 54,.5);
  left: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 39;
  width:$aside-bar-width;
  @include transition(left);
  & .brand{
    background-color: $white;
    padding: 10px;
  }
  & ul ul {
    margin: 0;
    padding: 0;
    margin-left: .7em;
    overflow: auto;
    max-height: 70vh;
    background-color:#f1f1f1;
  }
}

html:not(.sidebar-is-display){
  #asidebar{
    left:$aside-bar-width * -1;
    @include transition(left);
  }
  #adminTemplate{
    padding-left:0;
  }
}

@include for-phone-only {
  #adminTemplate{
    padding-left: 0px;
  }
  html:not(.sidebar-is-display){
    #asidebar{
      left: $aside-bar-width * -1;
    }
    #adminTemplate{
      padding-left:0px;
    }
  }
  
}

.btn-consultar{
  margin-top: 30px;
}


@import './colors.scss';
$statusCode:(
  "101" color('green','darken-1') "\f058",
  "102" color('red','darken-1') "\f05e"
  );
@each $code, $color, $icon in $statusCode {
  [status-code='#{$code}']::before{
    content: "#{$icon}";
    color:$color;
    font-family: 'Font Awesome 5 Free';
  }
}
  
.modal .animation-content .modal-card {
  overflow: auto !important;
}

.modal-card-body {
  overflow: auto !important;
}

