// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #4f8e3a;
$primary-invert: findColorInvert($primary);
$secondary: #5b5b5f;
$secondary-invert: findColorInvert($secondary);
// $red: #201818 ;
// $red-invert: findColorInvert($red);

// Setup $colors to use as bulma classes (e.g. 'is-red')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    // "red": ($red, $red-invert)
);

$body-font-size:.9em;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";