<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.chofer.codigo.$error }") 
				b-input(required v-model='form.chofer.codigo', minlength='2')
		.column
			b-field(:label="$t('label.identificationCard')" 
					:type="{ 'is-danger': $v.form.persona.cedula.$error }") 
				b-input(required v-model='form.persona.cedula', minlength='5', type="number", min ='0')
		.column
			b-field(:label="$t('label.firstname')" 
					:type="{ 'is-danger': $v.form.persona.nombres.$error }") 
				b-input(required v-model='form.persona.nombres', minlength='3')
	.columns
		.column
			b-field(:label="$t('label.lastname')" 
					:type="{ 'is-danger': $v.form.persona.apellidos.$error }") 
				b-input(required v-model='form.persona.apellidos', minlength='3')
		.column
			SelectGeneral(v-model="form.persona.nacionalidad"  :title="$t('label.nationality')"  :options="referencias.paisesList"  :error="{ 'is-danger': $v.form.persona.nacionalidad.$error }"  :required='true')
		.column
			b-field(:label="$t('label.email')" 
					:type="{ 'is-danger': $v.form.persona.email.$error }") 
				b-input(required v-model='form.persona.email', minlength='3', type="email")
	.columns
		.column
			b-field(:label="$t('label.licenseLevel')" 
					:type="{ 'is-danger': $v.form.chofer.adicional.nivel_licencia.$error }") 
				b-input(required v-model='form.chofer.adicional.nivel_licencia', minlength='1', maxlength='1', type="number", min ='1')
		.column
		.column
	div(style="margin-top: 50px")
</template>
<script>
import {required, numeric, minLength, maxLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			chofer:{
				codigo: {required, minLength: minLength(2)},
				persona: {},
				adicional:{
					nivel_licencia: {required, numeric, minLength: minLength(1), maxLength: maxLength(1)},
				}
			},
			persona:{
				cedula: {required, numeric, minLength: minLength(5)},
				nombres: {required, minLength: minLength(3)},
				apellidos: {required, minLength: minLength(3)},
				nacionalidad: {required},
				email: {required, minLength: minLength(3)},
			}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>