<template lang="pug">
form#editDevice(v-on:submit.prevent="formEvent")
		.modal-card(style='width: 70vw;')
			header.modal-card-head.modal-card-title
				p(v-if="event === 'store'") {{$t('label.create',{module:$tc('module.product')})}}
				p(v-if="event === 'update'") {{$t('label.edit',{module:$tc('module.product')})}}
			.modal-card-body
				.container(id="container-step")
					section
						b-steps(size="is-small" v-model="currentStep" :hasNavigation="false")
							b-step-item(v-for="(step,i) in steps"
								:key="i"
								:label="step.label"
								:icon="step.icon"
								:type="{'is-success': step.complete}")
								component(  :ref="step.label" 
											v-bind:is="step.component"
											@isValid="isValid"
											:model="form"
											:referencias="referencias")
					
							b-step-item(:label="$t('label.save')" icon="save")

								div(style="margin-top: 20px")
									h4.subtitle.is-4(align="center" v-if="event === 'store'") {{$t('label.createMsg',{module:$tc('module.product')})}}
									h4.subtitle.is-4(align="center" v-if="event === 'update'") {{$t('label.editMsg',{module:$tc('module.product')})}}
								
								div(style="text-align:center; margin-top: 40px;")
									b-button(id="save" type="is-success" native-type="submit" icon-left='save' :disabled='(currentStep == maxSteps) ? false : true') {{$t('btn.save')}}

							template(slot='navigation', slot-scope='{previous, next}')
								.columns
									.column
										b-button(expanded :disabled='previous.disabled', @click.prevent='previous.action')
											.fa.fa-arrow-left
									.column.is-9
									.column
										b-button(expanded :disabled='next.disabled', @click='nextStep')
											.fa.fa-arrow-right
</template>
<script>
import apiProducto from "@/api/producto";
import step1 from "./step1";
import step2 from "./step2";
import step3 from "./step3";
export default {
	name: "modalProducto",
	props: {
		object: {
			type: Object
		},
		event: String
	},
	components: { 
		step1,
		step2,
		step3 
	},
	mounted(){
		var self=this;
		apiProducto
			.create()
			.then(function(res) {
				self.referencias=res.referencias;
			})
			.catch(function(err) {
				console.error(err);
			})
			.finally(function() {});
	},
	data() {
		return {
			steps: [
				{ label: this.$t('label.basic'), icon: "id-card", component: "step1", complete: false },
				{ label: this.$t('label.productInformation'), icon: "archive", component: "step2", complete: false },
				{ label: this.$t('label.productFeature'), icon: "tasks", component: "step3", complete: false }
			],
			form: {
				nombre: this.lodash.isEmpty(this.object) ? "" : this.object.nombre,
				codigo_barra: this.lodash.isEmpty(this.object) ? "": this.object.codigo_barra,
				codigo: this.lodash.isEmpty(this.object) ? "": this.object.codigo,
				descripcion: this.lodash.isEmpty(this.object) ? "": this.object.descripcion,
				pesable: this.lodash.isEmpty(this.object) ? 0 : this.object.pesable,
				peso_objetivo: this.lodash.isEmpty(this.object) ? null: this.object.peso_objetivo,
				tolerancia_pasiva: this.lodash.isEmpty(this.object) ? null: this.object.tolerancia_pasiva,
				tolerancia_negativa: this.lodash.isEmpty(this.object) ? null: this.object.tolerancia_negativa,
				precio_kg: this.lodash.isEmpty(this.object) ? null: this.object.precio_kg,
				clase: this.lodash.isEmpty(this.object) ? null: this.object.clase ? this.object.clase.id : null,
				dias_vencimiento: this.lodash.isEmpty(this.object) ? null: this.object.dias_vencimiento,
				tipo: this.lodash.isEmpty(this.object) ? null: this.object.tipo ? this.object.tipo.id : null,
				vigente: this.lodash.isEmpty(this.object) ? 0 : this.object.vigente,
				tipouso: this.lodash.isEmpty(this.object) ? null: this.object.tipouso ? this.object.tipouso.id : null,
				clasificacion: this.lodash.isEmpty(this.object) ? null: this.object.clasificacion ? this.object.clasificacion.id : null,
				genero: this.lodash.isEmpty(this.object) ? null: this.object.genero ? this.object.genero.id : null,
				grupo: this.lodash.isEmpty(this.object) ? null: this.object.grupo ? this.object.grupo.id : null
			},
			referencias:{},
			currentStep: 0,
			maxSteps:3 /* <--- Máximo de pasos en el steps --< */
		};
	},
	methods: {
		nextStep() {
			let ref = this.steps[this.currentStep].label.toString();
			this.$refs[ref][0].valid();
		},
		isValid() {
			this.currentStep++;
		},
		formEvent() {
			switch (this.event) {
				case "update":
					this.update()
					break;
				case "store":
					this.store()
					break;
				default:
					this.$toast("Invalid: "+this.event ,"danger")
					break;
			}
		},
		store() {
			var self = this;
			apiProducto
				.store(this.form)
				.then(function(res) {
					if(res.status == 200){
						self.$buefy.notification.open({
							message: res.data.message,
							type: 'is-success'
						});
						self.$emit("close");
						self.$parent.$parent.list();
						self.$parent.$parent.showDetails(res.data.data);

					}else{
						self.$buefy.notification.open({
							message: res.data.message,
							type: 'is-danger'
						});
					}
				})
				.catch(function(err) {
					self.$buefy.notification.open({
						message: err.response.data.message,
						type: 'is-danger'
					});
				})
				.finally(function() {});
		},
		update() {
			var self = this;
			apiProducto
			.update(this.form, this.object.id)
			.then(function(res) {
				if(res.status == 200){
					self.$buefy.notification.open({
						message: res.data.message,
						type: 'is-success'
					});
					self.$emit("close");
					self.$parent.$parent.list();
					self.$parent.$parent.$refs.detalles.visible=false;
				}else{
					self.$buefy.notification.open({
						message: res.data.message,
						type: 'is-danger'
					});
				}
			})
			.catch(function(err) {
				self.$buefy.notification.open({
					message: err.response.data.message,
					type: 'is-danger'
				});
			})
			.finally(function() {});
		}
	}
};
</script>