<template lang="pug">
div()
	.columns
		.column
			SelectGeneral(v-model="form.pesable"  :title="$t('label.weighable')"  :options="condicionList"  :error="{ 'is-danger': $v.form.pesable.$error }"  :required='true')
		.column
			b-field(:label="$t('label.targetWeight')" 
					:type="{ 'is-danger': $v.form.peso_objetivo.$error }")
				b-input(v-model='form.peso_objetivo', minlength='1', min="0", type="number", placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.passiveTolerance')" 
					:type="{ 'is-danger': $v.form.tolerancia_pasiva.$error }") 
				b-input(v-model='form.tolerancia_pasiva', minlength='1', min="0", type="number", placeholder="123456" :controls="false")
	.columns
		.column
			b-field(:label="$t('label.negativeTolerance')"
					:type="{ 'is-danger': $v.form.tolerancia_negativa.$error }")
				b-input(v-model='form.tolerancia_negativa', minlength='1', min="0", type="number", placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.priceKg')"
					:type="{ 'is-danger': $v.form.precio_kg.$error }")
				b-input(v-model='form.precio_kg', minlength='1', min="0", type="number", placeholder="123" :controls="false")
		.column
			SelectGeneral(v-model="form.clase"  :title="$t('label.class')"  :options="referencias.clasesList"  :error="{ 'is-danger': $v.form.clase.$error }"  :required='false')

	div(style="margin-top: 50px")
</template>
<script>
import {required, numeric, minLength, minValue} from "vuelidate/lib/validators";
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step2",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
		SelectGeneral
	},
	data() {
		return {
			condicionList: [
				{
					"id": 1,
					"nombre": "Si",
				},
				{
					"id": 0,
					"nombre": "No",
				}
			],
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			clase: {},
			pesable: {required},
			peso_objetivo: {numeric, minLength: minLength(1), minValue: minValue(0)},
			tolerancia_pasiva: {numeric, minLength: minLength(1), minValue: minValue(0)},
			tolerancia_negativa: {numeric, minLength: minLength(1), minValue: minValue(0)},
			precio_kg: {numeric, minLength: minLength(1), minValue: minValue(0)}
			
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>