<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.nombre.$error }") 
				b-input(required v-model='form.nombre', minlength='3')
		.column
			b-field(:label="$t('label.barCode')" 
					:type="{ 'is-danger': $v.form.codigo_barra.$error }")
				b-input(v-model='form.codigo_barra', minlength='4')
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(required v-model='form.codigo', minlength='2')
	.columns
		.column
			b-field(:label="$t('label.description')" 
					:type="{ 'is-danger': $v.form.descripcion.$error }")
				b-input(v-model='form.descripcion', minlength='4')
		.column
		.column
	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			nombre: {required, minLength: minLength(3)},
			codigo_barra: {minLength: minLength(4)},
			codigo: {required, minLength: minLength(2)},
			descripcion: {minLength: minLength(4)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>