<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.expirationDays')" 
					:type="{ 'is-danger': $v.form.dias_vencimiento.$error }") 
				b-input(v-model='form.dias_vencimiento', minlength='1', min="0", type="number", placeholder="365"  :controls="false")
		.column
			SelectGeneral(v-model="form.tipo"  :title="$t('label.type')"  :options="referencias.tiposList"  :error="{ 'is-danger': $v.form.tipo.$error }"  :required='false')
		.column
			SelectGeneral(v-model="form.vigente"  :title="$t('label.valid')"  :options="condicionList"  :error="{ 'is-danger': $v.form.vigente.$error }"  :required='true')
	.columns
		.column
			SelectGeneral(v-model="form.tipouso"  :title="$t('label.useType')"  :options="referencias.tipousosList"  :error="{ 'is-danger': $v.form.tipouso.$error }"  :required='true')
		.column
			SelectGeneral(v-model="form.clasificacion"  :title="$t('label.classification')"  :options="referencias.clasificacionesList"  :error="{ 'is-danger': $v.form.clasificacion.$error }"  :required='false')
		.column
			SelectGeneral(v-model="form.genero"  :title="$t('label.gender')"  :options="referencias.generosList"  :error="{ 'is-danger': $v.form.genero.$error }"  :required='false')
	.columns
		.column
			SelectGeneral(v-model="form.grupo"  :title="$t('label.group')"  :options="referencias.gruposList"  :error="{ 'is-danger': $v.form.grupo.$error }"  :required='false')
		.column
		.column
	div(style="margin-top: 50px")
</template>
<script>
import {required, numeric, minLength, minValue} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral';
export default {
	name: "step3",
	props: {
		model: Object,
		referencias : Object
	},
	components:{
		SelectGeneral
	},
	data() {
		return {
			condicionList: [
				{
					"id": 1,
					"nombre": "Si",
				},
				{
					"id": 0,
					"nombre": "No",
				}
			],
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			tipo:{},
			vigente:{required},
			tipouso:{required},
			clasificacion:{},
			genero:{},
			grupo:{},
			dias_vencimiento:{numeric, minLength: minLength(1), minValue: minValue(0)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>