<template lang="pug">
form#editDevice(v-on:submit.prevent="formEvent")
		.modal-card(style='width: 70vw;')
			header.modal-card-head.modal-card-title
				p(v-if="event === 'store'") {{$t('label.create',{module:$tc('module.inventaryData')})}}
				p(v-if="event === 'update'") {{$t('label.edit',{module:$tc('module.inventaryData')})}}
			.modal-card-body
				.container(id="container-step")
					section
						b-steps(size="is-small" v-model="currentStep" :hasNavigation="false")
							b-step-item(v-for="(step,i) in steps"
								:key="i"
								:label="step.label"
								:icon="step.icon"
								:type="{'is-success': step.complete}")
								component(  :ref="step.label" 
											v-bind:is="step.component"
											@isValid="isValid"
											:model="form"
											:referencias="referencias")
					
							b-step-item(:label="$t('label.save')" icon="save")

								div(style="margin-top: 20px")
									h4.subtitle.is-4(align="center" v-if="event === 'store'") {{$t('label.createMsg',{module:$tc('module.inventaryData')})}}
									h4.subtitle.is-4(align="center" v-if="event === 'update'") {{$t('label.editMsg',{module:$tc('module.inventaryData')})}}
								
								div(style="text-align:center; margin-top: 40px;")
									b-button(id="save" type="is-success" native-type="submit" icon-left='save' :disabled='(currentStep == maxSteps) ? false : true') {{$t('btn.save')}}

							template(slot='navigation', slot-scope='{previous, next}')
								.columns
									.column
										b-button(expanded :disabled='previous.disabled', @click.prevent='previous.action')
											.fa.fa-arrow-left
									.column.is-9
									.column
										b-button(expanded :disabled='next.disabled', @click='nextStep')
											.fa.fa-arrow-right
</template>
<script>
import apiInventarioData from "@/api/inventarioData";
import step1 from "./step1";
export default {
	name: "modalDetalles",
	props: {
		object: {
			type: Object
		},
		event: String
	},
	components: { 
		step1,
	},
	mounted(){
		var self=this;
		apiInventarioData
			.create()
			.then(function(res) {
				self.referencias=res.referencias;
			})
			.catch(function(err) {
				console.error(err);
			})
			.finally(function() {});
	},
	data() {
		return {
			steps: [
				{ label: this.$t('label.basic'), icon: "id-card", component: "step1", complete: false }
			],
			form: {		
						
				// inventario: this.event === 'store' ? this.object.id :this.object.inventario.id,
				inventario: this.lodash.isEmpty(this.object) ? null: this.object.inventario ? this.object.inventario.id : null,
				equipo: this.lodash.isEmpty(this.object) ? null: this.object.equipo ? this.object.equipo.id : null,
				producto: this.lodash.isEmpty(this.object) ? null: this.object.producto ? this.object.producto.id : null,
				almacen: this.lodash.isEmpty(this.object) ? null: this.object.almacen ? this.object.almacen.id : null,
				operador: this.lodash.isEmpty(this.object) ? null: this.object.operador ? this.object.operador.id : null,
				estatus: this.lodash.isEmpty(this.object) ? null: this.object.estatus ? this.object.estatus.id : null,
				observacion: this.object.observacion ? this.object.observacion : null,
				unidad_peso: this.object.unidad_peso ? this.object.unidad_peso : 'kg',
				bruto: this.object.bruto ? this.object.bruto : 0,
				tara: this.object.tara ? this.object.tara : 0,
				neto: this.object.neto ? this.object.neto : 0,
				balanza: this.object.balanza ? this.object.balanza : '',
				piezas: this.object.piezas ? this.object.piezas : 0,
				fecha: this.lodash.isEmpty(this.object.fecha) ? new Date(): new Date(this.object.fecha),
				hora: this.lodash.isEmpty(this.object.hora) ? new Date(): new Date("Sun Jun 07 2020 "+this.object.hora+" GMT-0400 (hora de Venezuela)")
				

				// inventario: this.event === 'store' ? this.object.id :this.object.inventario.id,
				// equipo: this.lodash.isEmpty(this.object) ? null: this.object.equipo ? this.object.equipo.id : null,
				// producto: this.lodash.isEmpty(this.object) ? null: this.object.producto ? this.object.producto.id : null,
				// almacen: this.lodash.isEmpty(this.object) ? null: this.object.almacen ? this.object.almacen.id : null,
				// operador: this.lodash.isEmpty(this.object) ? null: this.object.operador ? this.object.operador.id : null,
				// estatus: this.lodash.isEmpty(this.object) ? null: this.object.estatus ? this.object.estatus.id : null,
				// observacion: this.observacion ? this.observacion : null,
				// unidad_peso: this.unidad_peso ? this.unidad_peso : 'kg',
				// bruto: this.bruto ? this.bruto : 0,
				// tara: this.tara ? this.tara : 0,
				// neto: this.neto ? this.neto : 0,
				// balanza: this.balanza ? this.balanza : '',
				// piezas: this.piezas ? this.piezas : 0,
				// fecha: this.lodash.isEmpty(this.object.fecha) ? new Date(): new Date(this.inventarioData.fecha),
				// hora: this.lodash.isEmpty(this.object.hora) ? new Date(): new Date("Sun Jun 07 2020 "+this.inventarioData.hora+" GMT-0400 (hora de Venezuela)")
			},
			referencias:{},
			currentStep: 0,
			maxSteps:1 /* <--- Máximo de pasos en el steps --< */
		};
	},
	methods: {
		nextStep() {
			let ref = this.steps[this.currentStep].label.toString();
			this.$refs[ref][0].valid();
		},
		isValid() {
			this.currentStep++;
		},
		formEvent() {
			switch (this.event) {
				case "update":
					this.update()
					break;
				case "store":
					this.store()
					break;
				default:
					this.$toast("Invalid: "+this.event ,"danger")
					break;
			}
		},
		store() {
			var self = this;
			apiInventarioData
				.store(this.form)
				.then(function(res) {
					if(res.status == 200){
						self.$buefy.notification.open({
							message: res.data.message,
							type: 'is-success'
						});
						self.$emit("close");
						self.$parent.$parent.list();
					}else{
						self.$buefy.notification.open({
							message: res.data.message,
							type: 'is-danger'
						});
					}
				})
				.catch(function(err) {
					console.log(err.response.data);
					self.$buefy.notification.open({
						message: err.response.data.message,
						type: 'is-danger'
					});
				})
				.finally(function() {});
		},
		update() {
			// console.log('this.object.inventario.id',this.object.inventario.id)
			var self = this;
			apiInventarioData
			.update(this.form, this.object.id)
			.then(function(res){
				if(res.status == 200){
					self.$buefy.notification.open({
						message: res.data.message,
						type: 'is-success'
					});
					self.$emit("close");
					self.$parent.$parent.list(this.object.inventario.id);
				}else{
					self.$buefy.notification.open({
						message: res.data.message,
						type: 'is-danger'
					});
				}
			})
			.catch(function(err) {
				self.$buefy.notification.open({
					message: err.response.data.message,
					type: 'is-danger'
				});
			})
			.finally(function() {});
		}
	}
};
</script>