<template lang="pug">
div()
	.columns
		.column
			SelectGeneral(	v-model="form.equipo"  
							:options="referencias.equiposList"  
							:required='true'  
							:title="$t('label.equipment')"  
							:error="{ 'is-danger': $v.form.equipo.$error }"
						)
		.column
			SelectGeneral(	v-model="form.producto"  
							:options="referencias.productosList"  
							:required='true'  
							:title="$t('label.product')"  
							:error="{ 'is-danger': $v.form.producto.$error }"
						)
		.column
			SelectGeneral(	v-model="form.almacen"  
							:options="referencias.almacenesList"  
							:required='true'  
							:title="$t('label.warehouse')"  
							:error="{ 'is-danger': $v.form.almacen.$error }"
						)

	.columns
		.column
			b-field(:label="$t('label.date')" 
					:type="{ 'is-danger': $v.form.fecha.$error }")
				b-datepicker(ref='datepicker', expanded='', placeholder='' required v-model="form.fecha" )
		.column
			b-field(:label="$t('label.hour')" 
					:type="{ 'is-danger': $v.form.hora.$error }")
				b-clockpicker(  required v-model='form.hora' )
		.column
			b-field(:label="$t('label.unitWeight')")
				b-input(required v-model='form.unidad_peso')

	.columns
		.column
			b-field(:label="$t('label.stupid')" 
					:type="{ 'is-danger': $v.form.bruto.$error }") 
				b-numberinput(required numeric v-model='form.bruto' :controls="false" )
		.column
			b-field(:label="$t('label.tare')" 
					:type="{ 'is-danger': $v.form.tara.$error }") 
				b-numberinput(required numeric v-model='form.tara' :controls="false" )
		.column
			b-field(:label="$t('label.net')" 
					:type="{ 'is-danger': $v.form.neto.$error }") 
				b-numberinput(required numeric v-model='form.neto' :controls="false" )

	.columns
		.column
			b-field(:label="$t('label.balance')" 
					:type="{ 'is-danger': $v.form.balanza.$error }")
				b-input(required v-model='form.balanza')
		.column
			b-field(:label="$t('label.pieces')" 
					:type="{ 'is-danger': $v.form.piezas.$error }") 
				b-numberinput(required numeric v-model='form.piezas' :controls="false" )

	.columns
		.column
			SelectGeneral(	v-model="form.inventario"  
							:options="referencias.inventariosList"  
							:required='true'  
							:title="$t('label.inventary')"  
							:error="{ 'is-danger': $v.form.inventario.$error }"
						)
		.column
			SelectGeneral(	v-model="form.estatus"  
							:options="referencias.estatusList"  
							:required='true'  
							:title="$t('label.estatus')"  
							:error="{ 'is-danger': $v.form.estatus.$error }"
						)
		.column
			b-field(:label="$t('label.observation')" 
					:type="{ 'is-danger': $v.form.observacion.$error }")
				b-input(v-model='form.observacion')
			
	div(style="margin-top: 50px")
</template>
<script>
import {required, numeric} from "vuelidate/lib/validators";
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
		SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			equipo: {required},
			producto: {required},
			almacen: {required},
			fecha: {required},
			hora: {required},
			unidad_peso: {required},
			bruto: {required, numeric},
			tara: {required, numeric},
			neto: {required, numeric},
			balanza: {required},
			piezas: {required, numeric},
			inventario: {required},
			estatus: {required},
			observacion: {}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>