<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }") 
				b-input(required v-model='form.codigo', minlength='2')

		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.nombre.$error }")
				b-input(required v-model='form.nombre', minlength='4')

		.column
			b-field(:label="$t('label.plate')" 
					:type="{ 'is-danger': $v.form.placa.$error }")
				b-input(required v-model='form.placa', minlength='4')

	.columns
		.column
			b-field(:label="$t('label.secondaryPlate')" 
					:type="{ 'is-danger': $v.form.placa_secundaria.$error }")
				b-input( v-model='form.placa_secundaria')

		.column
			b-field(:label="$t('label.tare')" 
					:type="{ 'is-danger': $v.form.tara.$error }")
				b-input( numeric v-model='form.tara')

		.column
			b-field(:label="$t('label.description')" 
					:type="{ 'is-danger': $v.form.descripcion.$error }")
				b-input( v-model='form.descripcion')

	.columns
		.column
			SelectGeneral(	v-model="form.transportista"  
							:options="referencias.transportistasList"  
							:required='false'  
							:title="$t('label.carrier')"  
							:error="{ 'is-danger': $v.form.transportista.$error }"
						)

		.column
			SelectGeneral(	v-model="form.proveedor"  
							:options="referencias.proveedoresList"  
							:required='false'  
							:title="$t('label.provider')"  
							:error="{ 'is-danger': $v.form.proveedor.$error }"
						)

		.column
			SelectGeneral(	v-model="form.cliente"  
							:options="referencias.clientesList"  
							:required='false'  
							:title="$t('label.client')"  
							:error="{ 'is-danger': $v.form.cliente.$error }"
						)

	.columns
		.column
			SelectGeneral(	v-model="form.tipo"  
							:options="referencias.tiposList"  
							:required='false'  
							:title="$t('label.type')"  
							:error="{ 'is-danger': $v.form.tipo.$error }"
						)
		.column
		.column
	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength, numeric} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			transportista: {},
			proveedor: {},
			cliente: {},
			tipo: {},
			codigo: {required, minLength: minLength(2)},
			nombre: {required, minLength: minLength(4)},
			placa: {required, minLength: minLength(4)},
			placa_secundaria: {},
			tara: {numeric},
			descripcion: {}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>