<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(required v-model='form.codigo', minlength='2')
		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.nombre.$error }") 
				b-input(required v-model='form.nombre', minlength='4')
		.column
			b-field(:label="$t('label.description')" 
					:type="{ 'is-danger': $v.form.descripcion.$error }")
				b-input(v-model='form.descripcion')
	.columns
		.column
			b-field(:label="$t('label.date')" 
					:type="{ 'is-danger': $v.form.fecha.$error }")
				b-datepicker(ref='datepicker', expanded='', placeholder='' required v-model="form.fecha" )
		.column
			SelectGeneral(	v-model="form.inicio_inventario"  
							:options="inicioList"  
							:required='true'  
							:title="$t('label.startInventary')"  
							:error="{ 'is-danger': $v.form.inicio_inventario.$error }"
						)
		.column
			SelectGeneral(	v-model="form.operador"  
							:options="referencias.operadoresList"  
							:required='false'  
							:title="$t('label.operator')"  
							:error="{ 'is-danger': $v.form.operador.$error }"
						)
		//- .column
		//- 	b-field(:label="$t('label.startInventary')" :type="{ 'is-danger': $v.form.inicio_inventario.$error }")
		//- 		.select.w100( v-bind:class="{ 'is-loading': isLoading}" style='height: 36px;' )
		//- 			select(v-model='selectedDrink')
		//- 				option( v-for='drink in drinks',
		//- 						:value='drink') {{ drink.label }}
		//- .column
		//- 	b-field(:label="$t('label.startInventary')" :type="{ 'is-danger': $v.form.inicio_inventario.$error }")
		//- 		.select.w100( v-bind:class="{ 'is-loading': isLoading}" style='height: 36px;' )
		//- 			select(v-model='selectedOption')
		//- 				option(v-for='option in selectedDrink.options'
		//- 						:value='option' ) {{ option }}



	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
// import SelectMultiple from '@/components/SelectMultiple'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object,
	},
	components:{
		SelectGeneral,
		// SelectMultiple
	},
	data() {
		return {
			inicioList: [
				{
					"id": "1",
					"nombre": "Iniciado",
				},
				{
					"id": "0",
					"nombre": "Terminado",
				}
			],
			// drinks:[
			// 	{
			// 		label:"Beer",
			// 		options:["Sam Adams","Anchor Steam","St. Arnold"]
			// 	},
			// 	{
			// 		label:"Soda",
			// 		options:["Pepsi","Coke","RC"]
			// 	},
			// 	{
			// 		label:"Coffee",
			// 		options:["Starbucks","Dunkin Donuts","Gross Hotel Room"]
			// 	}
			// ],
			// selectedDrink:-1,
			// selectedOption:'',
			form: this.model,
			isLoading:false,
			isValoptions:false
		};
	},
	validations: {
		form: {
			codigo: {required, minLength: minLength(2) },
			nombre: {required, minLength: minLength(4) },
			descripcion: {},
			fecha: {required, },
			inicio_inventario: {required},
			operador: {}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>