<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.nombre.$error }") 
				b-input(required v-model='form.nombre', minlength='3')
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(v-model='form.codigo', minlength='2')
		.column
			b-field(:label="$t('label.description')" 
					:type="{ 'is-danger': $v.form.descripcion.$error }")
				b-input(v-model='form.descripcion', minlength='4')
	.columns
		.column
			SelectGeneral(v-model="form.tipo"  :title="$t('label.type')"  :options="referencias.tiposList"  :error="{ 'is-danger': $v.form.tipo.$error }"  :required='false')
		.column
		.column

	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			tipo: {},
			nombre: {required, minLength: minLength(3)},
			codigo: {minLength: minLength(2)},
			descripcion: {minLength: minLength(4)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>