<template lang="pug">
b-field(:label="$t('label.sex')")
    .select.w100( v-bind:class="{ 'is-loading': isLoading }" style='height: 36px;' )
        select.w100( @change="onChange($event.target.value)")
            option( value=null)
            option(:selected='value == "M" ? true:false' value='M') Masculino
            option(:selected='value == "F" ? true:false' value='F') Femenino
</template>
<script>

export default {
    name: 'SelectSexo',
    props:{
        value:String
    },
    data () {
        return {
            invalid_option:'Selecione una opción',
            selected:this.val,
            isLoading:false,
            disabled:false,
            options:[]
        }
    },
    mounted(){
    },
    methods:{
        onChange(value) {
            this.$emit('input', value);
        }
    }
}
</script>