<template lang="pug">
b-field(:label="$t('label.service')")
    .select.w100( v-bind:class="{ 'is-loading': isLoading }" style='height: 36px;' )
        select.w100( @change="onChange($event.target.value)" :required="required")
            option(value='') Selecciona una Opción
            option(:selected='value == "1" ? true:false' value='1') Si
            option(:selected='value == "0" ? true:false' value='0') No
</template>
<script>

export default {
    name: 'SelectServicio',
    props:{
        value:String,
        required:Boolean
    },
    data () {
        return {
            invalid_option:'Selecione una opción',
            selected:this.val,
            isLoading:false,
            disabled:false,
            options:[]
        }
    },
    mounted(){
    },
    methods:{
        onChange(value) {
            this.$emit('input', value);
        }
    }
}
</script>