<template lang="pug">
b-field(:label='"Almacenes"')
    .select.w100( v-bind:class="{ 'is-loading': isLoading }" style='height: 36px;' )
        select.w100( @change="onChange($event.target.value)" :disabled="disabled" required)
            option( value=null selected ) {{ invalid_option }}
            option( v-for="opt in options" 
                    :key="opt.id"
                    :value='opt.id'
                    :selected='value == opt.id?true:false')
                    | {{opt.nombre}}

</template>
<script>
import api from '@/api/almacen'
export default {
    name: 'SelectAlmacen',
    props:{
        value:Number
    },
	data () {
		return {
            invalid_option:'Selecione un almacen',
            selected:this.val,
            isLoading:true,
            disabled:false,
            options:[]
        }
    },
    mounted(){
        this.listOptions()
    },
    methods:{
        onChange(value) {
            if (value === 0) {value = 0;}
            this.$emit('input', parseFloat(value));
        },
        listOptions() {
            var self = this;
                self.isLoading = true;
                self.disabled = true;
            api.list()
            .then(function (res){
                let datos = res.data.data;
                if(datos.length > 0){
                    self.options = datos.filter(e=>{ return e.status.id == 101 });
                    self.disabled = false
                }else{
                    self.invalid_option = ' sin almacenes'
                    self.disabled = true
                }
            })
            .catch(function (err) { console.error('@err',err) })
            .finally(function() {  self.isLoading = false })
        }
    }
}
</script>