<template lang="pug">
b-field(:label="'Géneros'")
    .select.w100( v-bind:class="{ 'is-loading': isLoading }" style='height: 36px;' )
        select.w100( @change="onChange($event.target.value)" :disabled="disabled" required)
            option( value=null selected ) Selecciona una Opción
            option( v-for="opt in options" 
                    :key="opt.id"
                    :value='opt.id'
                    :selected='value == opt.id?true:false')
                    | {{opt.nombre}}
    

</template>
<script>
import api from '@/api/genero'
export default {
    name: 'SelectGenero',
    props:{
        value:Number
    },
	data () {
		return {
            selected:this.value,
            isLoading:true,
            disabled:false,
            options:[]
        }
    },
    mounted(){
        this.listOptions()
    },
    methods:{
        onChange(value) {
            if (value === 0) {value = 0;}
            this.$emit('input', parseFloat(value));
        },
        listOptions() {
            var self = this;
                self.isLoading = true
                self.disabled = true
            api.list()
            .then(function (res){
                self.options = res.data.data.filter(e=>{ return e.status.id == 101 });
                self.isLoading = false
                self.disabled = false
                //console.info('self.options',self.options)
            })
            .catch(function (err) { console.error('@err',err) })
        }
    }
}
</script>