<template lang="pug">
b-field(:label="'Tipos'")
    .select.w100( v-bind:class="{ 'is-loading': isLoading }" style='height: 36px;' )
        select.w100( @change="onChange($event.target.value)" :disabled="disabled" required)

            option( value=null selected ) Selecciona una Opción
            option( v-for="opt in opciones" 
                    :key="opt.id"
                    :value='opt.id'
                    :selected='value == opt.id?true:false')
                    | {{opt.nombre}}
</template>
<script>
export default {
    name: 'SelectTipo',
    props:{
        value:Number,
        opciones: Array
    },
	data () {
		return {
            selected:this.value,
            isLoading:false,
            disabled:false,
            options:this.opciones
        }
    },
    mounted(){
    },
    methods:{
        onChange(value) {
            if (value === 0) {value = 0;}
            this.$emit('input', parseFloat(value));
        }
    }
}
</script>