<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')"
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(v-model='form.codigo')
		.column
			b-field(:label="$t('label.name')"
					:type="{ 'is-danger': $v.form.nombre.$error }")
				b-input(required v-model='form.nombre', minlength='4')
		.column
			b-field(:label="$t('label.title')"
					:type="{ 'is-danger': $v.form.titulo.$error }")
				b-input(v-model='form.titulo')
	.columns
		.column
			b-field(:label="$t('label.message')"
					:type="{ 'is-danger': $v.form.mensaje.$error }")
				b-input(required v-model='form.mensaje', minlength='4')
		.column
		.column
	div(style="margin-top: 50px")

</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			codigo: {},
			nombre: {required, minLength: minLength(4) },
			mensaje: {required, minLength: minLength(4) },
			titulo: {}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>