<template lang="pug">
form#create(v-on:submit="submitform")
	.modal-card(style='width: 70vw;')
		header.modal-card-head.modal-card-title
			| {{$t('record')}}
		.modal-card-body
			.container(id="container-step")
				section
					b-steps(size="is-small" v-model="step" :hasNavigation="false")
						
						b-step-item(:label="$t('label.basic')" icon="id-card")
							.columns
								.column
									b-field(:label="$t('label.identification')")
										b-input(required v-model='form.cedula')
							
								.column
									b-field(:label="$t('label.name')")
										b-input(required v-model='form.nombres')

								.column
									b-field(:label="$t('label.surname')")
										b-input(required v-model='form.apellidos')

							.columns
								.column
									b-field(:label="$t('label.rif')")
										b-input(v-model='form.rif')

								.column
									b-field(:label="$t('label.direction')")
										b-input(v-model='form.direccion')

								.column
									b-field(:label="$t('label.phone')")
										b-input(v-model='form.telefono')

							.columns
								.column
									b-field(:label="$t('label.SecondaryPhone')")
										b-input(v-model='form.telefono_secundario')
								.column
									b-field( :label="$t('label.email')")
										b-input( type="email" v-model='form.email')

								.column
									b-field( :label="$t('label.secondaryMail')")
										b-input( type="email" v-model='form.email_secundario')

							.columns
								.column
									SelectSexo( v-model="form.sexo")

								.column
									SelectPais( v-model="form.nacionalidad")

								.column
									SelectEstado( v-model="form.estado")

							.columns
								.column
									SelectCiudad( v-model="form.ciudad")

								.column
									SelectMunicipio( v-model="form.municipio")

					
						b-step-item(:label="$t('label.save')" icon="save")
							
							div(style="margin-top: 20px")
								h4.subtitle.is-4(align="center") {{$t('saveMsg')}}
							
							div(style="text-align:center; margin-top: 40px;")
								b-button(id="save" type="is-success" native-type="submit" icon-left='save') {{$t('btn.save')}}
				br
				div(v-if="step != 0")
					b-button(style="float: left" icon-left='chevron-left' @click="regresar") {{$t('btn.return')}}
				
				div(v-if="step != maxPass")
					b-button(style="float: right", type="is-success", icon-right='chevron-right' @click="siguiente") {{$t('btn.next')}}								
</template>
<script>
import apiPersona from "@/api/persona"
import SelectSexo from '@/components/api/SelectSexo'
import SelectPais from '@/components/api/SelectPais'
import SelectEstado from '@/components/api/SelectEstado'
import SelectCiudad from '@/components/api/SelectCiudad'
import SelectMunicipio from '@/components/api/SelectMunicipio'

export default {
	name: 'createPersona',
	components:{
		SelectSexo,
		SelectPais,
		SelectEstado,
		SelectCiudad,
		SelectMunicipio
	}, 
	data(){
		return {
			step:0,
			maxPass:1, /* <-- Cantidad maxima de pasos en el step*/
			form:{
				cedula:'',
				nombres:'',
				apellidos:'',
				rif:'',
				direccion:'',
				telefono:'',
				telefono_secundario:'',
				email:'',
				email_secundario:'',
				sexo:'',
				nacionalidad:null,
				estado:null,
				ciudad:null,
				municipio:null
			}
		}
	},
	methods:{
		submitform(event){
			var self = this
			console.log(event)
			event.preventDefault();
			apiPersona.create(this.form)
			.then(function (){
				self.$emit('close');
				self.$parent.$parent.list()
			})
			.catch(function (err) {
				console.error('@submitform',err)
			})
			.finally(function() {
			})
		},
		
		siguiente(){
			if (this.step != this.maxPass) { 

				if (this.step == 0 ) { /* valida el paso 0 */
					
					if (this.form.cedula != "" &&
						this.form.nombres != "" &&
						this.form.apellidos != "" &&
						isNaN(this.form.nacionalidad)){

						this.step = this.step + 1; /* Si la validacion es correcta continua*/
					}else{
					/* sí hay campos requeridos presiona el botón de guardar si un campo es requerido lo muestra en pantalla */
						document.getElementById("save").click();
						//this.submitform();
					}
				}
			}
		},
		regresar(){
			if (this.step != 0) {

				this.borrarDatos(this.step);
				this.step = this.step - 1; /* Regresa */
			}
			
		},
		borrarDatos(indice){

			if (indice == 1 ) { /* Restablece los input del indice 1 */
				/*this.form.campo="";*/
			}
		},	
	}
}
</script>