<template lang="pug">
form#editDevice(v-on:submit="submitform")
	.modal-card(style='width: 70vw;')
		header.modal-card-head.modal-card-title
			| {{$t('edit')}}
		.modal-card-body
			.container(id="container-step")
				section
					b-steps(size="is-small" v-model="step" :hasNavigation="false")
						
						b-step-item(:label="$t('label.basic')" icon="id-card")
							.columns
								.column
									b-field(:label="$t('label.identification')")
										b-input(required v-model='form.cedula')

								.column
									b-field(:label="$t('label.firstname')")
										b-input(required v-model='form.nombres')

								.column
									b-field(:label="$t('label.lastname')")
										b-input(required v-model='form.apellidos')
							
								

							.columns
								.column
									SelectPais(v-model="form.nacionalidad")
								
								.column
									SelectSexo(v-model="form.sexo")

								.column
									SelectEstado( v-model="form.estado")

					
						b-step-item(:label="$t('label.save')" icon="save")
							
							div(style="margin-top: 20px")
								h4.subtitle.is-4(align="center") {{$t('saveMsg')}}
							
							div(style="text-align:center; margin-top: 40px;")
								b-button(id="save" type="is-success" native-type="submit" icon-left='save') {{$t('btn.save')}}

				br
				div(v-if="step != 0")
					b-button(style="float: left" icon-left='chevron-left' @click="regresar") {{$t('btn.return')}}
				
				div(v-if="step != maxPass")
					b-button(style="float: right", type="is-success", icon-right='chevron-right' @click="siguiente") {{$t('btn.next')}}								
</template>
<script>

import apiPersona from "@/api/persona"
import SelectPais from '@/components/api/SelectPais'
import SelectSexo from '@/components/api/SelectSexo'
import SelectEstado from '@/components/api/SelectEstado'

export default {
	name: 'editPersona',
	props:{
		persona:Object
	},
	components:{
        SelectPais,
        SelectSexo,
        SelectEstado
	},
	data(){
		return {
			step:0,
			maxPass:1, /* <-- Cantidad maxima de pasos en el step*/
			form:{
				id:this.persona.id,
				cedula:this.persona.cedula,
				nombres:this.persona.nombres,
				apellidos:this.persona.apellidos,
				nacionalidad:this.persona.nacionalidad.id,
				sexo:this.persona.sexo,
				estado:this.persona.estado == null ? null : this.persona.estado.id
			}
		}
	},
	mounted(){
	},
	methods:{
		submitform(event){
			var self = this
			event.preventDefault();
			apiPersona.edit(this.form,this.persona.id)
			.then(function (){
				self.$emit('close');
				self.$parent.$parent.list()
			})
			.catch(function (err) {
				console.error('@submitform',err)
			})
			.finally(function() {
			})
		},
		siguiente(){
			if (this.step != this.maxPass) { 

				if (this.step == 0 ) { /* valida el paso 0 */
					
					if (this.form.cedula != "" && this.form.nombres != "" && this.form.apellidos != ""){
						this.step = this.step + 1; /* Si la validacion es correcta continua*/
					}else{
					/* sí hay campos requeridos presiona el botón de guardar si un campo es requerido lo muestra en pantalla */
						document.getElementById("save").click();
						//this.submitform();
					}
				}
			}
		},
		regresar(){
			if (this.step != 0) {

				this.borrarDatos(this.step);
				this.step = this.step - 1; /* Regresa */
			}
			
		},
		borrarDatos(indice){

			if (indice == 1 ) { /* Restablece los input del indice 1 */
				/*this.form.campo="";*/
			}
		},
	}
}
</script>