<template lang="pug">
#clase.container
	.buttons.is-right
		b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="create()") {{$t('btn.record')}}
	b-table( 
		:data="isEmpty ? [] : personas"
		:loading="isLoading"
		striped
		narrowed
		hoverable)
		template( slot-scope="props")
			b-table-column(field="id" searchable centered :label="$t('label.id')") {{ props.row.id }}
			b-table-column(field="cedula" searchable centered :label="$t('label.identificationCard')") {{ props.row.cedula }}
			b-table-column(field="nombre" searchable centered :label="$t('label.name')") {{ props.row.nombres }}
			b-table-column(field="apellido" searchable centered :label="$t('label.surname')") {{ props.row.apellidos }}
			b-table-column(field="rif" searchable centered :label="$t('label.rif')") {{ props.row.rif }}
			b-table-column(field="direccion" searchable centered :label="$t('label.direction')") {{ props.row.direccion }}
			b-table-column(field="telefono" searchable centered :label="$t('label.phone')") {{ props.row.telefono }}
			b-table-column(field="telefono_secundario" searchable centered :label="$t('label.SecondaryPhone')") {{ props.row.telefono_secundario }}
			b-table-column(field="email" searchable centered :label="$t('label.email')") {{ props.row.email }}
			b-table-column(field="email_secundario" searchable centered :label="$t('label.secondaryMail')") {{ props.row.email_secundario }}
			b-table-column(field="sexo" searchable centered :label="$t('label.sex')") {{ props.row.sexo == 'M' ? 'Masculino' : props.row.sexo == 'F' ? 'Femenino' : '--' }}
			b-table-column(field="status" searchable centered  :label="$t('label.estatus')")
				StatusType( :item="props.row")
			//b-table-column(field="nacionalidad" searchable centered :label="$t('label.nationality')") {{ props.row.nacionalidad.nombre }}
			//b-table-column(field="estado" searchable centered :label="$t('label.state')") {{ props.row.estado.estado.nombre }}
			//b-table-column(field="ciudad" searchable centered :label="$t('label.city')") {{ props.row.ciudad.ciudad.nombre }}
			//b-table-column(field="municipio" searchable centered :label="$t('label.municipality')") {{ props.row.municipio.nombre }}
			//b-table-column(field="status" searchable centered  :label="$t('label.estatus')")
				StatusType( :item="props.row")

			b-table-column(field="actions" :label="$t('label.actions')" v-if=" props.row.deleted_at == null")
				b-tooltip(:label="$t('label.edit')")
					b-button(type="is-primary" size="is-small" icon-right="edit" @click="edit(props.row)")
				| &nbsp;
				b-tooltip(type="is-danger", :label="$t('label.delete')")
					b-button(type="is-danger" size="is-small" icon-right="trash" @click="remove(props.row.id)")
					
			b-table-column(field="actions" :label="$t('label.actions')" v-if=" props.row.deleted_at != null")
				b-tooltip(type="is-info", :label="$t('label.recycle')")
					b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")

		template(slot='empty')
			section.section
				.content.has-text-grey.has-text-centered
					p
						b-icon(icon='frown', size='is-large')
					p {{$t('tblisEmpty')}}
</template>
<script>
import apiPersona from "@/api/persona"
import createPersona from "./createPersona"
import editPersona from "./editPersona"
//-components
import StatusType from "@/components/StatusType"
export default {
	name:"personas",
	data(){
		return{
			personas:[],
			isLoading:false,
			isEmpty:true
		}
	},
	mounted(){
		this.list()
	},
	components:{StatusType},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiPersona.list()
			.then(function (res){
				//console.log("list_Clients",res)
				if(res.status == 200){
					self.personas = res.data.data
					self.isEmpty = false
				}
			})
			.catch(function (err) {
				console.error('@listPersona',err)
			})
			.finally(function() {
				self.isLoading = false
				//console.warn('finally')
			})
		},
		edit(persona){
			this.$buefy.modal.open({
				props:{persona},
				parent: this,
				component:editPersona,
				hasModalCard: true,
				trapFocus: true
			})			
		},
		create(){
			this.$buefy.modal.open({
				parent: this,
				component:createPersona,
				hasModalCard: true,
				trapFocus: true
			})			
		},
		remove(id){
			var self = this		
			this.$buefy.dialog.confirm({
				title: this.$t('remove.title'),
				message: this.$t('remove.message'),
				confirmText: this.$t('remove.confirmText'),
				cancelText: this.$t('remove.cancelText'),
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					apiPersona.delete_logic(id)
					.then(function (){})
					.catch(function (err) {
						console.error('@delete',err)
					})
					.finally(function() { self.list();})
				}
			})
		},
		recycle(id){
			var self = this
			this.$buefy.dialog.confirm({
				title: 'Reciclar registro',
				message: '¿Está usted seguro de <b>reciclar</b> el registro?',
				confirmText: 'Reciclar',
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => {
					apiPersona.recycle(id)
					.then(function (){})
					.catch(function (err) {
						console.error('@delete',err);
					})
					.finally(function() { self.list(); })
				}
			})
		}
	}
}
</script>