<template lang="pug">
 #detalles.container(v-if="visible")
    .buttons.is-right
        b-field(position='is-centered')
            b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
            p.control
                b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store',item)") {{$t('btn.record',{module:$tc('module.productPackaging',1)})}}
                b-button(type="is-danger" size="is-small" icon-left="fas fa-times" @click="cerrar()") {{$t('btn.close',{module:$tc('module.productPackaging',1)})}}

    h4(class="title is-4") {{$t('label.productPackaging')}}: {{item.nombre}}, {{$t('label.code')}}: {{item.codigo}}.

    b-table(
        :data="isEmpty ? [] : filteredEmpaque"
        :loading="isLoading"
        striped
        narrowed
        paginated
        sticky-header
        :total="total"
        :per-page="perPage"
        :default-sort="['id', 'asc']"
        @page-change="onPageChange"
        hoverable)
        template( slot-scope="props")
            b-table-column(field="id" sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
            b-table-column(field="producto.nombre" sortable searchable :label="$t('label.product')") {{ props.row.producto.nombre }}
            b-table-column(field="empaque.nombre" sortable searchable :label="$t('label.packaging')") {{ props.row.empaque.nombre }}
            b-table-column(field="status.nombre" sortable searchable centered  :label="$t('label.status')") 
                StatusType( :item="props.row")
            b-table-column(field="actions" 
                            sticky
                            cell-class="is-sticky-right"
                            header-class="is-sticky-right"
                            :label="$t('label.actions')" )
                b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.productPackaging')})")
                    b-button( type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.productPackaging')})")
                    b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.productPackaging')})")
                    b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
        template(slot='empty')
            section.section.content.has-text-grey.has-text-centered
                p
                    b-icon(icon='frown', size='is-large')
                p {{$t('label.tblisEmpty',{module:$tc('module.productPackaging',2)})}}
</template>
<script>
import apiProductoEmpaque from "@/api/productoEmpaque";
//-components
import modalProductoEmpaque from "./modalProductoEmpaque";
import StatusType from "@/components/StatusType";

export default {
    name: 'detalles',
    components:{
        StatusType
    },
    data(){
        return{
            item:Object,
            empaques:[],
            isLoading:false,
            isEmpty: true,
            visible: false,
            search: "",
            perPage: 10,
            total: 0,
            page: 1
        }
    },
    methods:{
        list(productoId){
            var self = this
            self.isLoading = true;
            apiProductoEmpaque.list(productoId)
            .then(function (res){
            if(res.status == 200){
                self.empaques = res.data.data
                self.isEmpty = false
            }
            })
            .catch(function (err) {
                console.error('@listProductoEmpaque',err)
                console.error('@listProductoEmpaque',err.response.data)
            })
            .finally(function() {
                self.isLoading = false
            })
        },
        showModal(event,object=null) {
            //console.log(event,object);
            this.$buefy.modal.open({
                props: { 
                    event:event,
                    object:object?object:{}
                },
                parent: this,
                component: modalProductoEmpaque,
                hasModalCard: true,
                trapFocus: true
            });
        },
        destroy(id){
            var self = this;
            this.$buefy.dialog.confirm({
                title: this.$t('label.delete',{module:this.$tc('module.productPackaging')}),
                message: this.$t('messages.delete_confirm',{module:this.$tc('module.productPackaging')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    apiProductoEmpaque.destroy(id)
                    .then(function(res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@destroy',err)
                    })
                    .finally(function() { self.list(self.item.id);})
                }
            })
        },
        recycle(id){
            var self = this
            this.$buefy.dialog.confirm({
                title:this.$t('label.recycle',{module:this.$tc('module.productPackaging')}),
                message: this.$t('messages.recycle_confirm',{module:this.$tc('module.productPackaging')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-info',
                hasIcon: true,
                onConfirm: () => {
                    apiProductoEmpaque.recycle(id)
                    .then(function (res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@delete',err);
                    })
                    .finally(function() {
                        self.list(self.item.id);
                    });
                }
            });
        },
        cerrar(){
            this.visible=false;
        },
        onPageChange(page) {
            this.page = page;
            this.loadAsyncData();
        }
    },
    computed:{
        filteredEmpaque(){
            let filter = this.empaques.filter(ele => {
                
                if(!ele.producto){ele.producto={};ele.producto.nombre="";}
                if(!ele.empaque){ele.empaque={};ele.empaque.nombre="";}

                let result =
                    this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
                ||  ele.producto.nombre.toLowerCase().match(this.search.toLowerCase())
                ||  ele.empaque.nombre.toLowerCase().match(this.search.toLowerCase())
                ;

                return result;
            });
            if (this.search == "") {
                filter = this.empaques;
            }
            //console.log(filter);
            return filter;
        }
    }
}
</script>