<template lang="pug">
#producto.container
	.buttons.is-right
		b-field(position='is-centered')
			b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
			p.control
				b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.product',1)})}}
	b-table(
		:data="isEmpty ? [] : filteredProducto"
		:loading="isLoading"
		striped
		narrowed
		paginated
		sticky-header
		:total="total"
		:per-page="perPage"
		:default-sort="['id', 'asc']"
		@page-change="onPageChange"
		hoverable)
		template( slot-scope="props")
			b-table-column(field="id" sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
			b-table-column(field="nombre" sortable searchable :label="$t('label.name')") {{ props.row.nombre }}
			b-table-column(field="codigo" sortable searchable :label="$t('label.code')") {{ props.row.codigo }}
			b-table-column(field="codigo_barra" sortable searchable :label="$t('label.barCode')") {{ props.row.codigo_barra }}
			b-table-column(field="pesable"  sortable searchable centered :label="$t('label.weighable')") {{(props.row.pesable==1)?"Si":"No" }}
			b-table-column(field="peso_objetivo" sortable searchable :label="$t('label.targetWeight')") {{ props.row.peso_objetivo }}
			b-table-column(field="tolerancia_pasiva" sortable searchable :label="$t('label.passiveTolerance')") {{ props.row.tolerancia_pasiva }}
			b-table-column(field="tolerancia_negativa" sortable searchable :label="$t('label.negativeTolerance')") {{ props.row.tolerancia_negativa }}
			b-table-column(field="dias_vencimiento" sortable searchable :label="$t('label.expirationDays')") {{ props.row.dias_vencimiento }}
			b-table-column(field="precio_kg" sortable searchable :label="$t('label.priceKg')") {{ props.row.precio_kg }}
			b-table-column(field="vigente"  sortable searchable centered :label="$t('label.valid')") {{(props.row.vigente==1)?"Si":"No" }}
			b-table-column(field="tipo_uso.nombre" sortable searchable :label="$t('label.useType')") {{ props.row.tipo_uso.nombre ? props.row.tipo_uso.nombre : '--' }}
			b-table-column(field="tipo.nombre" sortable searchable :label="$t('label.type')") {{ props.row.tipo.nombre ? props.row.tipo.nombre : '--' }}
			b-table-column(field="clasificacion" sortable searchable :label="$t('label.classification')") {{ props.row.clasificacion.nombre ? props.row.clasificacion.nombre : '--' }}
			b-table-column(field="genero.nombre" sortable searchable :label="$t('label.gender')") {{ props.row.genero.nombre ? props.row.genero.nombre : '--' }}
			b-table-column(field="grupo.nombre" sortable searchable :label="$t('label.group')") {{ props.row.grupo.nombre ? props.row.grupo.nombre : '--' }}
			b-table-column(field="clase.nombre" sortable searchable :label="$t('label.class')") {{ props.row.clase.nombre ? props.row.clase.nombre : '--' }}
			b-table-column(field="status.nombre" sortable searchable centered  :label="$t('label.status')") 
				StatusType( :item="props.row")
			b-table-column(field="actions" 
							sticky
							cell-class="is-sticky-right"
							header-class="is-sticky-right"
							:label="$t('label.actions')" )
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-info", :label="$t('label.details',{module:$tc('module.product')})")
					b-button(type="is-info" size="is-small" icon-right="file" @click="showDetails(props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.product')})")
					b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.product')})")
					b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.product')})")
					b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
		template(slot='empty')
			section.section.content.has-text-grey.has-text-centered
				p
					b-icon(icon='frown', size='is-large')
				p {{$t('label.tblisEmpty',{module:$tc('module.product',2)})}}

	Detalles( ref="detalles")

</template>
<script>
import apiProducto from "@/api/producto";
//-components
import modal from "./modal";
import Detalles from "./detalles";
import StatusType from "@/components/StatusType"

export default {
	name:"producto",
	data(){
		return{
			producto:[],
			isLoading:false,
			isEmpty:true,
			search: "",
			perPage: 10,
			total: 0,
			page: 1
		}
	},
	mounted(){
		this.list()
	},
	components:{
		StatusType,
		Detalles
	},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiProducto.list()
			.then(function (res){
			if(res.status == 200){
				self.producto = res.data.data
				self.isEmpty = false
			}
			})
			.catch(function (err) {
				console.error('@listProducto',err)
			})
			.finally(function() {
				self.isLoading = false
			})
		},
		showModal(event,object=null) {
			this.$buefy.modal.open({
				props: { 
					event:event,
					object:object?object:{}
				},
				parent: this,
				component: modal,
				hasModalCard: true,
				trapFocus: true
			});
		},
		destroy(id){
			var self = this   
			this.$buefy.dialog.confirm({
				title: this.$t('label.delete',{module:this.$tc('module.product')}),
				message: this.$t('messages.delete_confirm',{module:this.$tc('module.product')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					apiProducto.destroy(id)
					.then(function(res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@destroy',err)
					})
					.finally(function() { self.list();})
				}
			})
		},
		recycle(id){
			var self = this
			this.$buefy.dialog.confirm({
				title:this.$t('label.recycle',{module:this.$tc('module.product')}),
				message: this.$t('messages.recycle_confirm',{module:this.$tc('module.product')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => {
					apiProducto.recycle(id)
					.then(function (res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@delete',err);
					})
					.finally(function() {
						self.list();
					});
				}
			});
		},
		showDetails(row){
			this.$refs.detalles.item=row;
			this.$refs.detalles.list(row.id);
			this.$refs.detalles.visible=true;
		},
		onPageChange(page) {
			this.page = page;
			this.loadAsyncData();
		}
	},
	computed: {
		filteredProducto() {
			let filter = this.producto.filter(ele => {
				//var pesable = null;
				//var vigente = null;
				if(!ele.nombre){ele.nombre="";}
				if(!ele.codigo){ele.codigo="";}
				if(!ele.codigo_barra){ele.codigo_barra="";}
				//if(!ele.pesable){this.pesable="No";}else{if (ele.pesable === 1) {this.pesable="Si";}else{this.pesable="No";} }
				//if(!ele.vigente){this.vigente="No";}else{if (ele.vigente === 1) {this.vigente="Si";}else{this.vigente="No";} }
				/*
				if(!ele.pesable){ele.pesable={};ele.pesable="";}
				if(!ele.peso_objetivo){ele.peso_objetivo="";}
				if(!ele.tolerancia_pasiva){ele.tolerancia_pasiva="";}
				if(!ele.tolerancia_negativa){ele.tolerancia_negativa="";}
				if(!ele.dias_vencimiento){ele.dias_vencimiento="";}
				if(!ele.precio_kg){ele.precio_kg="";}
				if(!ele.vigente){ele.vigente={};ele.vigente="";}
				*/
				if(!ele.tipo_uso){ele.tipo_uso={};ele.tipo_uso.nombre="";}
				if(!ele.tipo){ele.tipo={};ele.tipo.nombre="";}
				if(!ele.clasificacion){ele.clasificacion={};ele.clasificacion.nombre="";}
				if(!ele.genero){ele.genero={};ele.genero.nombre="";}
				if(!ele.grupo){ele.grupo={};ele.grupo.nombre="";}
				if(!ele.clase){ele.clase={};ele.clase.nombre="";}
				
				let result =
					this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
				||	ele.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.codigo.toLowerCase().match(this.search.toLowerCase())
				||	ele.codigo_barra.toLowerCase().match(this.search.toLowerCase())
				||  this.lodash.toString(ele.pesable).toLowerCase().match(this.search.toLowerCase())
				||  this.lodash.toString(ele.peso_objetivo).toLowerCase().match(this.search.toLowerCase())
				||  this.lodash.toString(ele.tolerancia_pasiva).toLowerCase().match(this.search.toLowerCase())
				||  this.lodash.toString(ele.tolerancia_negativa).toLowerCase().match(this.search.toLowerCase())
				||  this.lodash.toString(ele.dias_vencimiento).toLowerCase().match(this.search.toLowerCase())
				||  this.lodash.toString(ele.precio_kg).toLowerCase().match(this.search.toLowerCase())
				||  this.lodash.toString(ele.vigente).toLowerCase().match(this.search.toLowerCase())
				||	ele.tipo_uso.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.tipo.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.clasificacion.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.genero.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.grupo.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.clase.nombre.toLowerCase().match(this.search.toLowerCase())
				;
				return result;
			});
			if (this.search == "") {
				filter = this.producto;
			}
		return filter;
		}
	}
};
</script>