<template lang="pug">
#boxDespacho.container
	.panel-heading.has-background-success.has-text-white
		.columns
			.column
				i.fas.fa-warehouse.fa-lg
				| &nbsp;
				i.fas.fa-truck
				| &nbsp;
			.column
				h4.has-text-white.has-text-right <b>{{$tc('module.dispatch',2)}}</b>	
	b-table(
		:data="despacho"
		:loading="isLoading"
		striped
		narrowed
		paginated
		sticky-header
		:total="total"
		:per-page="perPage"
		:default-sort="['id', 'asc']"
		@page-change="onPageChange"
		hoverable)
		template( slot-scope="props")
			//-b-table-column(field="fecha" sortable searchable :label="$t('label.date')") {{ props.row.fecha | dateFormat}}
			//-b-table-column(field="hora" sortable searchable :label="$t('label.hour')") {{ props.row.hora | hourFormat}}
			b-table-column(field="codigo_pedido" sortable searchable :label="$t('label.codeOrder')") {{ props.row.codigo_pedido }}
			b-table-column(field="nombre_proveedor" sortable searchable :label="$t('label.provider')") {{ props.row.nombre_proveedor }}
			b-table-column(field="nombre_producto" sortable searchable :label="$t('label.product')") {{ props.row.nombre_producto }}
			b-table-column(field="neto" sortable searchable :label="$t('label.net')") {{ props.row.neto ? props.row.neto : '--' }}
		template(slot='empty')
			section.section.content.has-text-grey.has-text-centered
				p
					b-icon(icon='frown', size='is-large')
				p {{$t('label.tblisEmpty',{module:$tc('module.dispatch',2)})}}

</template>
<script>
import apiPortadaDespacho from "@/api/portada";
//-components
export default {
	name:"despacho",
	data(){
		return{
			despacho:[],
			isLoading:false,
			isEmpty:true,
			search: "",
			perPage: 10,
			total: 0,
			page: 1
		}
	},
	mounted(){
		this.list()
	},
	components:{
		
	},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiPortadaDespacho.recepciondespacho()
			.then(function (res){
			if(res.status == 200){
				self.despacho = res.data.data.despachos
				self.isEmpty = false
			}
			})
			.catch(function (err) {
				console.error('@listPortadaDespacho',err)
			})
			.finally(function() {
				self.isLoading = false
			})
		},
		onPageChange(page) {
			this.page = page;
			this.loadAsyncData();
		}
	}
};
</script>