<template lang="pug">
#chart
	.columns
		.column
			highcharts.chart(:options="chartOptions" v-if="chartOptions")
	.columns
		#HomeDetallesRecepcion.column
			GraficasDetallesRecepcion( v-if="show_GraficasDetallesRecepcion")
		#HomeDetallesDespacho.column
			GraficasDetallesDespacho( v-if="show_GraficasDetallesDespacho")
</template>
<script>
import {Chart} from 'highcharts-vue'
import highcharts from 'highcharts'
import apiPortadaTotales from "@/api/portada";
import exporting from "highcharts/modules/exporting.js";
import GraficasDetallesRecepcion from '@/components/grafic/GraficasDetallesRecepcion'
import GraficasDetallesDespacho from '@/components/grafic/GraficasDetallesDespacho'
exporting(highcharts);
export default {
	name: 'chart',
	components: {
		highcharts: Chart,
		GraficasDetallesRecepcion,
		GraficasDetallesDespacho
	},
	mounted(){
		this.consultarDatosGrafica();
	},
	data() {
		return {
			show_GraficasDetallesRecepcion:false,
			show_GraficasDetallesDespacho:false,
			totales:{},
			colorInputIsSupported: null,
			chartOptions:null
		}
	},
	methods:{
		consultarDatosGrafica(){
			var self = this
			this.isLoading = true
			apiPortadaTotales.graficatotal()
			.then(function (res){
			if(res.status == 200){
				self.totales = res.data.data;
				self.cargarDatosGrafica();
				self.isEmpty = false;
			}
			})
			.catch(function (err) {
				console.error('@listPortadaTotales',err)
			})
			.finally(function() {
				self.isLoading = false
			})
		},
		cargarDatosGrafica(){
			var self =this;
			self.chartOptions= {
				chart: { type: 'bar', height: 230 },
				title: { text: "<b> "+self.$t('label.graphTitleTotals')+"</b>" }, //titulo
				subtitle: {text: ''},
				series: [
					{
						name: self.$t('label.reception'), // recepción
						data: [parseInt(0) ,null], // default
						color: '#1988d1'
					}, 
					{
						name: self.$t('label.dispatch'), // despacho
						data: [null,parseInt(0)], // default
						color: '#06c94c'
					}
				],
				tooltip:{ valueSuffix: ' Kg'},
				xAxis: {
					categories: [self.$t('label.reception'), self.$t('label.dispatch')],
					//title:{ text: null}
					title: {
						align: 'high',
						offset: 0,
						text: self.$t('label.activity'),
						rotation: 0,
						y: -10
					}
				},
				yAxis: {
					min: 0,
					//max: 50000, //para establecer el maximo ancho de la barra
					title: {
						text: self.$t('label.weight'),
						align: 'high'
					},
					labels: {overflow: 'justify'}
				},
				plotOptions: {
					bar: {
					dataLabels:{enabled: true}
					},
					series : {
						maxPointLength: 10,
						//maxPointHeight: 500,
						/*stacking: 'normal',*/
						cursor: 'pointer',
						events: {
							click: function (event) {
								if (event.point.category==self.$t('label.reception')) {
									if (self.show_GraficasDetallesRecepcion == false){ 
										self.show_GraficasDetallesRecepcion = true;
									}else{
										self.show_GraficasDetallesRecepcion = false;
									}
								}
								if (event.point.category==self.$t('label.dispatch')) {
									if (self.show_GraficasDetallesDespacho == false){ 
										self.show_GraficasDetallesDespacho = true;
									}else{
										self.show_GraficasDetallesDespacho = false;
									}
								}
								return false;
							}
						}
					}
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'top',
					x: -40,
					y: 2,
					floating: true,
					borderWidth: 0,
					//backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
					shadow: true
				},
				exporting: {
					buttons: {
						contextButton: {
							menuItems: ['downloadPNG', 'downloadJPEG', 'downloadPDF', 'downloadSVG'],
						},
					},
					enabled: true //activamos la exportacion
				},
				lang: {
					downloadPNG: self.$t('label.downloadPNG'),
					downloadJPEG: self.$t('label.downloadJPEG'),
					downloadPDF: self.$t('label.downloadPDF'),
					downloadSVG: self.$t('label.downloadSVG'),
				},
				credits: {enabled: false},
			};
			self.chartOptions.series[0].data=[parseInt(self.totales.recepciones.neto) ,null]; // carga de datos
			self.chartOptions.series[1].data=[null, parseInt(self.totales.despachos.neto)]; // carga de datos
		}
	}
}
</script>