<template lang="pug">
#GraficaDetalleRecepcion.container
	highcharts.chart(:options="chartOptions")
</template>
<script>
import {Chart} from 'highcharts-vue'
import highcharts from 'highcharts'
import exporting from "highcharts/modules/exporting.js";
exporting(highcharts);
import apiPortadaDetalleRecepcion from "@/api/portada";
export default {
	name: 'chart',
	components: {
		highcharts: Chart 
	},
	mounted(){
		this.consultarDatosGrafica();
	},
	data() {
		return {
			totales:{},
			chartOptions:{}
			
		}
	},
	methods:{
		consultarDatosGrafica(){
			var self = this
			self.isLoading = true
			apiPortadaDetalleRecepcion.graficadesglosado(1)//recepciones
			.then(function (res){
			if(res.status == 200){
				self.totales = res.data.data;
				self.cargarDatosGrafica();
				self.isEmpty = false;
			}
			})
			.catch(function (err) {
				console.error('@listPortadaGraficoRecepcion',err)
			})
			.finally(function() {
				self.isLoading = false
			})
		},
		cargarDatosGrafica(){
			var self =this;
			self.chartOptions= {
				chart: {
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
						type: 'pie'
				},
				title: { text:"<b> "+self.$t('label.graphTitleDetailReception')+" </b>" }, //titulo
				subtitle: {text: ''},
				series: [{
						name: 'Productos',
						colorByPoint: true,
						data:[], // default vacio
				}],
				tooltip: {
					//pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> {self.series.y}'
					formatter: function() {

						return `<b>${self.$t('label.product')}: </b>${this.key}<br><b>${self.$t('label.percentage')}: </b>${parseFloat(this.percentage).toFixed(2)}%<br><b>${self.$t('label.netSimple')}: </b>${this.y} Kg`;
					}
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: false
						},
						showInLegend: true
					}
				},
				exporting: {
					buttons: {
						contextButton: {
							menuItems: ['downloadPNG', 'downloadJPEG', 'downloadPDF', 'downloadSVG'],
						},
					},
					enabled: true //activamos la exportacion
				},
				lang: {
					downloadPNG: self.$t('label.downloadPNG'),
					downloadJPEG: self.$t('label.downloadJPEG'),
					downloadPDF: self.$t('label.downloadPDF'),
					downloadSVG: self.$t('label.downloadSVG'),
				},
				credits: {enabled: false}
			};

			for (var i=0; i<self.totales.length; i++) {
				self.chartOptions.series[0].data.push({name: self.totales[i].nombre_producto, y: parseInt(self.totales[i].neto)}); // carga de datos
			}
		}
	}
}
</script>