<template lang="pug">
 #detalles.container(v-if="visible")
    .buttons.is-right
        b-field(position='is-centered')
            b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
            p.control
                b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store',item)") {{$t('btn.record',{module:$tc('module.inventaryData',1)})}}
                b-button(type="is-danger" size="is-small" icon-left="fas fa-times" @click="cerrar()") {{$t('btn.close',{module:$tc('module.inventaryData',1)})}}

    h4(class="title is-4") {{$t('label.inventaryData')}}: {{item.nombre}}, {{$t('label.code')}}: {{item.codigo}}.

    b-table(
        :data="isEmpty ? [] : filteredEmpaque"
        :loading="isLoading"
        striped
        narrowed
        paginated
        sticky-header
        :total="total"
        :per-page="perPage"
        :default-sort="['id', 'asc']"
        @page-change="onPageChange"
        hoverable)
        template( slot-scope="props")
            b-table-column(field="equipo.nombre" sortable searchable centered :label="$t('label.equipment')") {{ props.row.equipo.nombre }}
            b-table-column(field="producto.nombre" sortable searchable centered :label="$t('label.product')") {{ props.row.producto.nombre }}
            b-table-column(field="almacen.nombre" sortable searchable centered :label="$t('label.warehouse')") {{ props.row.almacen.nombre }}
            b-table-column(field="fecha"  sortable searchable centered :label="$t('label.date')") {{ props.row.fecha | dateFormat}}
            b-table-column(field="hora" sortable searchable centered :label="$t('label.hour')") {{ props.row.hora | hourFormat}}
            b-table-column(field="unidad_peso" sortable searchable centered :label="$t('label.unitWeight')") {{ props.row.unidad_peso }}
            b-table-column(field="bruto" sortable searchable centered :label="$t('label.stupid')") {{ props.row.bruto }}
            b-table-column(field="tara" sortable searchable centered :label="$t('label.tare')") {{ props.row.tara }}
            b-table-column(field="neto" sortable searchable centered :label="$t('label.net')") {{ props.row.neto }}
            b-table-column(field="balanza" sortable searchable centered :label="$t('label.balance')") {{ props.row.balanza }}
            b-table-column(field="piezas" sortable searchable centered :label="$t('label.pieces')") {{ props.row.piezas }}
            b-table-column(field="operador.nombre" sortable searchable centered :label="$t('label.operator')") {{ !props.row.operador ? "" : props.row.operador.codigo }}
            b-table-column(field="inventario.nombre" sortable searchable centered :label="$t('label.inventary')") {{ props.row.inventario.nombre }}	
            b-table-column(field="observacion" sortable searchable centered :label="$t('label.observation')") {{ props.row.observacion }}

            b-table-column(field="status.nombre" sortable searchable centered  :label="$t('label.status')") 
                StatusType( :item="props.row")
            b-table-column(field="actions"
                            sticky
                            cell-class="is-sticky-right"
                            header-class="is-sticky-right" 
                            :label="$t('label.actions')" )
                b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.inventaryData')})")
                    b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.inventaryData')})")
                    b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.inventaryData')})")
                    b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
        template(slot='empty')
            section.section.content.has-text-grey.has-text-centered
                p
                    b-icon(icon='frown', size='is-large')
                p {{$t('label.tblisEmpty',{module:$tc('module.inventaryData',2)})}}

</template>
<script>
import apiInventarioData from "@/api/inventarioData";
//-components
import modalDetalles from "./modalDetalles";
import StatusType from "@/components/StatusType";

export default {
    name: 'detalles',
    components:{
        StatusType
    },
    data(){
        return{
            item:Object,
            inventarioData:[],
            isLoading:false,
            isEmpty: true,
            visible: false,
            search: "",
            perPage: 10,
            total: 0,
            page: 1
        }
    },
    methods:{
        list(id){
            var self = this
            self.isLoading = true;
            apiInventarioData.list(id)
            .then(function (res){
            if(res.status == 200){
                self.inventarioData = res.data.data
                self.isEmpty = false
            }
            })
            .catch(function (err) {
                console.error('@listInventarioData',err)
            })
            .finally(function() {
                self.isLoading = false
            })
        },
        showModal(event,object=null) {
            //console.log(event,object);
            this.$buefy.modal.open({
                props: { 
                    event:event,
                    object:object?object:{}
                },
                parent: this,
                component: modalDetalles,
                hasModalCard: true,
                trapFocus: true
            });
        },
        destroy(id){
            var self = this;
            this.$buefy.dialog.confirm({
                title: this.$t('label.delete',{module:this.$tc('module.inventaryData')}),
                message: this.$t('messages.delete_confirm',{module:this.$tc('module.inventaryData')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    apiInventarioData.destroy(id)
                    .then(function(res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@destroy',err)
                    })
                    .finally(function() { self.list(self.item.id);})
                }
            })
        },
        recycle(id){
            var self = this
            this.$buefy.dialog.confirm({
                title:this.$t('label.recycle',{module:this.$tc('module.inventaryData')}),
                message: this.$t('messages.recycle_confirm',{module:this.$tc('module.inventaryData')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-info',
                hasIcon: true,
                onConfirm: () => {
                    apiInventarioData.recycle(id)
                    .then(function (res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@delete',err);
                    })
                    .finally(function() {
                        self.list(self.item.id);
                    });
                }
            });
        },
        cerrar(){
            this.visible=false;
        },
        onPageChange(page) {
            this.page = page;
            this.loadAsyncData();
        }
    },
    computed:{
        filteredEmpaque(){
            let filter = this.inventarioData.filter(ele => {
                if(!ele.equipo){ele.equipo={};ele.equipo.nombre="";}
                if(!ele.producto){ele.producto={};ele.producto.nombre="";}
                if(!ele.almacen){ele.almacen={};ele.almacen.nombre="";}
                if(!ele.operador){ele.operador={};ele.operador.nombre="";}
                if(!ele.inventario){ele.inventario={};ele.inventario.nombre="";}
                if(!ele.status){ele.status={};ele.status.nombre="";}
                if(!ele.unidad_peso){ele.unidad_peso=" ";}
                if(!ele.balanza){ele.balanza=" ";}
                if(!ele.observacion){ele.observacion=" ";}
                if(!ele.fecha){ele.fecha=" ";}
                if(!ele.hora){ele.hora=" ";}
                if(!ele.piezas){ele.piezas=" ";}
                if(!ele.bruto){ele.bruto=" ";}
                if(!ele.tara){ele.tara=" ";}
                if(!ele.neto){ele.neto=" ";}

                let result =
                    this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
                ||  ele.equipo.nombre.toLowerCase().match(this.search.toLowerCase())
                ||  ele.producto.nombr.toLowerCase().match(this.search.toLowerCase())
                ||  ele.almacen.nombre.toLowerCase().match(this.search.toLowerCase())
                ||  ele.operador.nombre.toLowerCase().match(this.search.toLowerCase())
                ||  ele.inventario.nombre.toLowerCase().match(this.search.toLowerCase())
                ||  ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
                ||  ele.unidad_peso.toLowerCase().match(this.search.toLowerCase())
                ||  ele.balanza.toLowerCase().match(this.search.toLowerCase())
                ||  ele.observacion.toLowerCase().match(this.search.toLowerCase())
                ||	this.moment(ele.hora, 'HH:mm:ss').format('HH:mm:ss').match(this.search)
                ||	this.moment(ele.fecha, 'YYYY-MM-DD').format('DD/MM/YYYY').match(this.search)
                ||  this.lodash.toString(ele.piezas).toLowerCase().match(this.search.toLowerCase())
                ||  this.lodash.toString(ele.bruto).toLowerCase().match(this.search.toLowerCase())
                ||  this.lodash.toString(ele.tara).toLowerCase().match(this.search.toLowerCase())
                ||  this.lodash.toString(ele.neto).toLowerCase().match(this.search.toLowerCase())
                ;

                return result;
            });
            if (this.search == "") {
                filter = this.inventarioData;
            }
            //console.log(filter);
            return filter;
        }
    }
}
</script>