<template lang="pug">
#inventarios.container
    .buttons.is-right
        b-field(position='is-centered')
            b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
            p.control
                b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.inventary',1)})}}
    b-table( 
        :data="isEmpty ? [] : filteredInventarios"
        :loading="isLoading"
        striped
        narrowed
        paginated
        sticky-header
        :total="total"
        :per-page="perPage"
        :default-sort="['id', 'asc']"
        @page-change="onPageChange"
        hoverable)
        template( slot-scope="props")
            b-table-column(field="id"  sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
            b-table-column(field="codigo"  sortable searchable centered :label="$t('label.code')") {{ props.row.codigo }}
            b-table-column(field="nombre"  sortable searchable centered :label="$t('label.name')") {{ props.row.nombre }}

            b-table-column(field="descripcion"  sortable searchable centered :label="$t('label.description')") {{ props.row.descripcion }}
            b-table-column(field="fecha"  sortable searchable centered :label="$t('label.date')") {{ props.row.fecha | dateFormat }}
            b-table-column(field="inicio_inventario"  sortable searchable centered :label="$t('label.inicioInventario')") {{(props.row.inicio_inventario==1)?"Iniciado":"Terminado" }}			
            b-table-column(field="operador.codigo"  sortable searchable centered :label="$t('label.operator')") {{ props.row.operador.codigo }}			
            
            b-table-column(field="status.nombre"  sortable searchable centered  :label="$t('label.status')")
                StatusType( :item="props.row")
            b-table-column(field="actions"
                            sticky
                            cell-class="is-sticky-right"
                            header-class="is-sticky-right" 
                            :label="$t('label.actions')" )
                b-tooltip(v-if=" props.row.deleted_at == null", type="is-info", :label="$t('label.details',{module:$tc('module.inventary')})")
                    b-button(type="is-info" size="is-small" icon-right="file" @click="showDetails(props.row)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.inventary')})")
                    b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.inventary')})")
                    b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.inventary')})")
                    b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
        template(slot='empty')
            section.section.content.has-text-grey.has-text-centered
                p
                    b-icon(icon='frown', size='is-large')
                p {{$t('label.tblisEmpty',{module:$tc('module.inventary',2)})}}

    Detalles( ref="detalles" :item="{id:0}")

</template>
<script>
import apiInventario from "@/api/inventario"
//-components
import modal from "./modal";
import Detalles from "./detalles";
import StatusType from "@/components/StatusType"
export default {
    name:"inventarios",
    data(){
        return{
            inventarios:[],
            isLoading:false,
            isEmpty:true,
            search: "",
            perPage: 10,
            total: 0,
            page: 1
        }
    },
    mounted(){
        this.list()
    },
    components:{
        StatusType,
        Detalles
    },
    methods:{
        list(){
            var self = this
            self.isLoading = true
            apiInventario.list()
            .then(function (res){
                //console.log("list_Clients",res)
                if(res.status == 200){
                    self.inventarios = res.data.data
                    self.isEmpty = false
                }
            })
            .catch(function (err) {
                console.error('@listInventario',err)
            })
            .finally(function() {
                self.isLoading = false
                //console.warn('finally')
            })
        },
        showModal(event,object=null) {
            this.$buefy.modal.open({
                props: { 
                    event:event,
                    object:object?object:{}
                },
                parent: this,
                component: modal,
                hasModalCard: true,
                trapFocus: true
            });
        },
        destroy(id){
            var self = this   
            this.$buefy.dialog.confirm({
                title: this.$t('label.delete',{module:this.$tc('module.inventary')}),
                message: this.$t('messages.delete_confirm',{module:this.$tc('module.inventary')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    apiInventario.destroy(id)
                    .then(function(res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@destroy',err)
                    })
                    .finally(function() { self.list();})
                }
            })
        },
        recycle(id){
            var self = this
            this.$buefy.dialog.confirm({
                title:this.$t('label.recycle',{module:this.$tc('module.inventary')}),
                message: this.$t('messages.recycle_confirm',{module:this.$tc('module.inventary')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-info',
                hasIcon: true,
                onConfirm: () => {
                    apiInventario.recycle(id)
                    .then(function (res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@delete',err);
                    })
                    .finally(function() {
                        self.list();
                    });
                }
            });
        },
        showDetails(row){
            this.$refs.detalles.item=row;
            this.$refs.detalles.list(row.id);
            this.$refs.detalles.visible=true;
        },
        onPageChange(page) {
            this.page = page;
            this.loadAsyncData();
        }
    },
    computed: {
        filteredInventarios() {
        let filter = this.inventarios.filter(ele => {
            if(!ele.codigo){ele.codigo=" ";}
            if(!ele.nombre){ele.nombre=" ";}
            if(!ele.descripcion){ele.descripcion=" ";}
            if(!ele.fecha){ele.fecha=" ";}
            if(!ele.operador){ele.operador={};ele.operador.codigo="";}
            if(!ele.status){ele.status={};ele.status.nombre="";}
            let result =
                this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
            ||	ele.codigo.toLowerCase().match(this.search.toLowerCase())
            ||	ele.nombre.toLowerCase().match(this.search.toLowerCase())
            ||	ele.descripcion.toLowerCase().match(this.search.toLowerCase())
            ||	this.moment(ele.fecha, 'YYYY-MM-DD').format('DD/MM/YYYY').match(this.search)
            ||	ele.operador.codigo.toLowerCase().match(this.search.toLowerCase())
            ||	ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
            ;
            return result;
        });
        if (this.search == "") {
            filter = this.inventarios;
        }
        return filter;
        }
    }
}
</script>