<template lang="pug">
#equipos.container
	.buttons.is-right
		b-field(position='is-centered')
			b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
			p.control
				b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.equipment',1)})}}
	b-table( 
		:data="isEmpty ? [] : filteredEquipos"
		:loading="isLoading"
		striped
		narrowed
		paginated
		sticky-header
		:total="total"
		:per-page="perPage"
		:default-sort="['id', 'asc']"
		@page-change="onPageChange"
		hoverable)
		template( slot-scope="props")
			b-table-column(field="id" searchable centered :label="$t('label.id')") {{ props.row.id }}	
			b-table-column(field="codigo" searchable centered :label="$t('label.code')") {{ props.row.codigo }}	
			b-table-column(field="nombre" searchable centered :label="$t('label.name')") {{ props.row.nombre }}	
			b-table-column(field="descripcion" searchable centered :label="$t('label.description')") {{ props.row.descripcion }}			
			b-table-column(field="forma.nombre" searchable centered :label="$t('label.shape')") {{ props.row.forma.nombre }}
			b-table-column(field="peso_minimo" searchable centered :label="$t('label.weightMinimum')") {{ props.row.peso_minimo }}
			b-table-column(field="estacion.nombre" searchable centered :label="$t('label.station')") {{ props.row.estacion.nombre }}
			b-table-column(field="modelo.nombre" searchable centered :label="$t('label.model')") {{ props.row.modelo.nombre }}
			b-table-column(field="impresora.nombre" searchable centered :label="$t('label.printer')") {{ props.row.impresora.nombre }}
			b-table-column(field="etiqueta.nombre" searchable centered :label="$t('label.label')") {{ props.row.etiqueta.nombre }}
			b-table-column(field="ip" searchable centered :label="$t('label.ip')") {{ props.row.ip }}
			b-table-column(field="mac" searchable centered :label="$t('label.mac')") {{ props.row.mac }}
			b-table-column(field="status.nombre" searchable centered  :label="$t('label.status')")
				StatusType( :item="props.row")
			b-table-column(field="actions"
							sticky
							cell-class="is-sticky-right"
							header-class="is-sticky-right" 
							:label="$t('label.actions')" )
				b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.equipment')})")
					b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.equipment')})")
					b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.equipment')})")
					b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
		template(slot='empty')
			section.section.content.has-text-grey.has-text-centered
				p
					b-icon(icon='frown', size='is-large')
				p {{$t('label.tblisEmpty',{module:$tc('module.equipment',2)})}}

</template>
<script>
import apiEquipo from "@/api/equipo"
//-components
import modal from "./modal";
import StatusType from "@/components/StatusType"
export default {
	name:"equipos",
	data(){
		return{
			equipos:[],
			isLoading:false,
			isEmpty:true,
			search: "",
			perPage: 10,
			total: 0,
			page: 1
		}
	},
	mounted(){
		this.list()
	},
	components:{StatusType},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiEquipo.list()
			.then(function (res){
				//console.log("list_Clients",res)
				if(res.status == 200){
					self.equipos = res.data.data
					self.isEmpty = false
				}
			})
			.catch(function (err) {
				console.error('@listEquipo',err)
			})
			.finally(function() {
				self.isLoading = false
				//console.warn('finally')
			})
		},
		showModal(event,object=null) {
			this.$buefy.modal.open({
				props: { 
					event:event,
					object:object?object:{}
				},
				parent: this,
				component: modal,
				hasModalCard: true,
				trapFocus: true
			});
		},
		destroy(id){
			var self = this   
			this.$buefy.dialog.confirm({
				title: this.$t('label.delete',{module:this.$tc('module.equipment')}),
				message: this.$t('messages.delete_confirm',{module:this.$tc('module.equipment')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					apiEquipo.destroy(id)
					.then(function(res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@destroy',err)
					})
					.finally(function() { self.list();})
				}
			})
		},
		recycle(id){
			var self = this
			this.$buefy.dialog.confirm({
				title:this.$t('label.recycle',{module:this.$tc('module.equipment')}),
				message: this.$t('messages.recycle_confirm',{module:this.$tc('module.equipment')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => {
					apiEquipo.recycle(id)
					.then(function (res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@delete',err);
					})
					.finally(function() {
						self.list();
					});
				}
			});
		},
		onPageChange(page) {
			this.page = page;
			this.loadAsyncData();
		}
	},
	computed: {
		filteredEquipos() {
		let filter = this.equipos.filter(ele => {
			if(!ele.codigo){ele.codigo=" ";}
			if(!ele.nombre){ele.nombre=" ";}
			if(!ele.descripcion){ele.descripcion=" ";}
			if(!ele.peso_minimo){ele.peso_minimo=0;}
			if(!ele.ip){ele.ip=" ";}
			if(!ele.mac){ele.mac=" ";}
			if(!ele.forma){ele.forma={};ele.forma.nombre="";}
			if(!ele.estacion){ele.estacion={};ele.estacion.nombre="";}
			if(!ele.modelo){ele.modelo={};ele.modelo.nombre="";}
			if(!ele.impresora){ele.impresora={};ele.impresora.nombre="";}
			if(!ele.etiqueta){ele.etiqueta={};ele.etiqueta.nombre="";}
			if(!ele.status){ele.status={};ele.status.nombre="";}
			let result =
				this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
			||	ele.codigo.toLowerCase().match(this.search.toLowerCase())
			||	ele.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.descripcion.toLowerCase().match(this.search.toLowerCase())
			||	this.lodash.toString(ele.peso_minimo).toLowerCase().match(this.search.toLowerCase())
			||	ele.ip.toLowerCase().match(this.search.toLowerCase())
			||	ele.mac.toLowerCase().match(this.search.toLowerCase())
			||	ele.forma.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.estacion.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.modelo.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.impresora.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.etiqueta.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
			;
			return result;
		});
		if (this.search == "") {
			filter = this.equipos;
		}
		return filter;
		}
	}
}
</script>
