<template lang="pug">
#camiones.container
	.buttons.is-right
		b-field(position='is-centered')
			b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
			p.control
				b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.truck',1)})}}
	b-table( 
		:data="isEmpty ? [] : filteredCamiones"
		:loading="isLoading"
		striped
		narrowed
		paginated
		sticky-header
		:total="total"
		:per-page="perPage"
		:default-sort="['id', 'asc']"
		@page-change="onPageChange"
		hoverable)
		template( slot-scope="props")
			b-table-column(field="id"  sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
			b-table-column(field="codigo"  sortable searchable centered :label="$t('label.code')") {{ props.row.codigo }}
			b-table-column(field="nombre"  sortable searchable centered :label="$t('label.name')") {{ props.row.nombre }}

			b-table-column(field="placa"  sortable searchable centered :label="$t('label.plate')") {{ props.row.placa }}

			b-table-column(field="placa_secundaria"  sortable searchable centered :label="$t('label.secondaryPlate')") {{ props.row.placa_secundaria }}
			b-table-column(field="tara"  sortable searchable centered :label="$t('label.tare')") {{ props.row.tara }}
			b-table-column(field="descripcion"  sortable searchable centered :label="$t('label.description')") {{ props.row.descripcion }}
			b-table-column(field="transportista.nombre"  sortable searchable centered :label="$t('label.carrier')") {{ !props.row.transportista ? "" : props.row.transportista.nombre }}
			b-table-column(field="proveedor.nombre"  sortable searchable centered :label="$t('label.provider')") {{ !props.row.proveedor ? "" : props.row.proveedor.nombre }}
			b-table-column(field="cliente.nombre"  sortable searchable centered :label="$t('label.client')") {{ !props.row.cliente ? "" : props.row.cliente.nombre }}
			b-table-column(field="tipo.nombre"  sortable searchable centered :label="$t('label.type')") {{ !props.row.tipo ? "" : props.row.tipo.nombre }}
			b-table-column(field="status.nombre"  sortable searchable centered :label="$t('label.status')")
				StatusType( :item="props.row")
			b-table-column(field="actions"
							sticky
							cell-class="is-sticky-right"
							header-class="is-sticky-right" 
							:label="$t('label.actions')" )
				b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.truck')})")
					b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.truck')})")
					b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.truck')})")
					b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
		template(slot='empty')
			section.section.content.has-text-grey.has-text-centered
				p
					b-icon(icon='frown', size='is-large')
				p {{$t('label.tblisEmpty',{module:$tc('module.truck',2)})}}

</template>
<script>
import apiCamion from "@/api/camion"
//-components
import modal from "./modal";
import StatusType from "@/components/StatusType"
export default {
	name:"camiones",
	data(){
		return{
			camiones:[],
			isLoading:false,
			isEmpty:true,
			search: "",
			perPage: 10,
			total: 0,
			page: 1
		}
	},
	mounted(){
		this.list()
	},
	components:{StatusType},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiCamion.list()
			.then(function (res){
				// console.log(res)
				if(res.status == 200){
					self.camiones = res.data.data
					self.isEmpty = false
				}
			})
			.catch(function (err) {
				console.error('@listCamion',err)
			})
			.finally(function() {
				self.isLoading = false
			})
		},
		showModal(event,object=null) {
			this.$buefy.modal.open({
				props: { 
					event:event,
					object:object?object:{}
				},
				parent: this,
				component: modal,
				hasModalCard: true,
				trapFocus: true
			});
		},
		destroy(id){
			var self = this   
			this.$buefy.dialog.confirm({
				title: this.$t('label.delete',{module:this.$tc('module.truck')}),
				message: this.$t('messages.delete_confirm',{module:this.$tc('module.truck')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					apiCamion.destroy(id)
					.then(function(res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@destroy',err)
					})
					.finally(function() { self.list();})
				}
			})
		},
		recycle(id){
			var self = this
			this.$buefy.dialog.confirm({
				title:this.$t('label.recycle',{module:this.$tc('module.truck')}),
				message: this.$t('messages.recycle_confirm',{module:this.$tc('module.truck')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => {
					apiCamion.recycle(id)
					.then(function (res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@delete',err);
					})
					.finally(function() {
						self.list();
					});
				}
			});
		},
		onPageChange(page) {
			this.page = page;
			this.loadAsyncData();
		}
	},
	computed: {
		filteredCamiones() {
		let filter = this.camiones.filter(ele => {			
			if(!ele.codigo){ele.codigo=" ";}
			if(!ele.nombre){ele.nombre=" ";}
			if(!ele.placa){ele.placa=" ";}
			if(!ele.placa_secundaria){ele.placa_secundaria=" ";}
			if(!ele.tara){ele.tara=0;}
			if(!ele.descripcion){ele.descripcion=" ";}
			if(!ele.status){ele.status={};ele.status.nombre="";}

			if(!ele.transportista){ele.transportista={};ele.transportista.nombre="";}
			if(!ele.proveedor){ele.proveedor={};ele.proveedor.nombre="";}
			if(!ele.cliente){ele.cliente={};ele.cliente.nombre="";}
			if(!ele.tipo){ele.tipo={};ele.tipo.nombre="";}
			let result =
				this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
			||	ele.codigo.toLowerCase().match(this.search.toLowerCase())
			||	ele.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.placa.toLowerCase().match(this.search.toLowerCase())
			||	ele.placa_secundaria.toLowerCase().match(this.search.toLowerCase())
			||	this.lodash.toString(ele.tara).toLowerCase().match(this.search.toLowerCase())
			||	ele.descripcion.toLowerCase().match(this.search.toLowerCase())
			||	ele.transportista.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.proveedor.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.cliente.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.tipo.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
			;
			return result;
		});
		if (this.search == "") {
			filter = this.camiones;
		}
		return filter;
		}
	}
}
</script>