<template lang="pug">
form#editDevice(v-on:submit.prevent="formEvent")
		.modal-card(style='width: 70vw;')
			header.modal-card-head.modal-card-title
				p(v-if="event === 'store'") {{$t('label.create',{module:$tc('module.provider')})}}
				p(v-if="event === 'update'") {{$t('label.edit',{module:$tc('module.provider')})}}
			.modal-card-body
				.container(id="container-step")
					section
						b-steps(size="is-small" v-model="currentStep" :hasNavigation="false")
							b-step-item(v-for="(step,i) in steps"
								:key="i"
								:label="step.label"
								:icon="step.icon"
								:type="{'is-success': step.complete}")
								component(  :ref="step.label" 
											v-bind:is="step.component"
											@isValid="isValid"
											:model="form"
											:referencias="referencias")
					
							b-step-item(:label="$t('label.save')" icon="save")

								div(style="margin-top: 20px")
									h4.subtitle.is-4(align="center" v-if="event === 'store'") {{$t('label.createMsg',{module:$tc('module.provider')})}}
									h4.subtitle.is-4(align="center" v-if="event === 'update'") {{$t('label.editMsg',{module:$tc('module.provider')})}}
								
								div(style="text-align:center; margin-top: 40px;")
									b-button(id="save" type="is-success" native-type="submit" icon-left='save' :disabled='(currentStep == maxSteps) ? false : true') {{$t('btn.save')}}

							template(slot='navigation', slot-scope='{previous, next}')
								.columns
									.column
										b-button(expanded :disabled='previous.disabled', @click.prevent='previous.action')
											.fa.fa-arrow-left
									.column.is-9
									.column
										b-button(expanded :disabled='next.disabled', @click='nextStep')
											.fa.fa-arrow-right
</template>
<script>
import apiProveedor from "@/api/proveedor";
import step1 from "./step1";
import step2 from "./step2";
import step3 from "./step3";
export default {
	name: "modalProveedor",
	props: {
		object: {
			type: Object
		},
		event: String
	},
	components: { 
		step1,
		step2,
		step3 
	},
	mounted(){
		var self=this;
		apiProveedor
			.create()
			.then(function(res) {
				self.referencias=res.referencias;
			})
			.catch(function(err) {
				console.error(err);
			})
			.finally(function() {});
	},
	data() {
		return {
			steps: [
				{ label: this.$t('label.basic'), icon: "id-card", component: "step1", complete: false },
				{ label: this.$t('label.contact'), icon: "address-book", component: "step2", complete: false },
				{ label: this.$t('label.direction'), icon: "map-marked-alt", component: "step3", complete: false }
			],
			form: {
				nombre: this.lodash.isEmpty(this.object) ? "" : this.object.nombre,
				rif: this.lodash.isEmpty(this.object) ? "": this.object.rif,
				codigo: this.lodash.isEmpty(this.object) ? "": this.object.codigo,
				permiso: this.lodash.isEmpty(this.object) ? "": this.object.permiso,
				telefono: this.lodash.isEmpty(this.object) ? "": this.object.telefono,
				telefono_secundario: this.lodash.isEmpty(this.object) ? "": this.object.telefono_secundario,
				email: this.lodash.isEmpty(this.object) ? "": this.object.email,
				email_secundario: this.lodash.isEmpty(this.object) ? "": this.object.email_secundario,
				fax: this.lodash.isEmpty(this.object) ? "": this.object.fax,
				estado: this.lodash.isEmpty(this.object) ? null: this.object.estado ? this.object.estado.id : null,
				municipio: this.lodash.isEmpty(this.object) ? null: this.object.municipio ? this.object.municipio.id : null,
				ciudad: this.lodash.isEmpty(this.object) ? null: this.object.ciudad ? this.object.ciudad.id : null,
				direccion: this.lodash.isEmpty(this.object) ? "": this.object.direccion
			},
			referencias:{},
			currentStep: 0,
			maxSteps:3 /* <--- Máximo de pasos en el steps --< */
		};
	},
	methods: {
		nextStep() {
			let ref = this.steps[this.currentStep].label.toString();
			this.$refs[ref][0].valid();
		},
		isValid() {
			this.currentStep++;
		},
		formEvent() {
			switch (this.event) {
				case "update":
					this.update()
					break;
				case "store":
					this.store()
					break;
				default:
					this.$toast("Invalid: "+this.event ,"danger")
					break;
			}
		},
		store() {
			var self = this;
			apiProveedor
				.store(this.form)
				.then(function(res) {
					if(res.status == 200){
						self.$buefy.notification.open({
							message: res.data.message,
							type: 'is-success'
						});
						self.$emit("close");
						self.$parent.$parent.list();
					}else{
						self.$buefy.notification.open({
							message: res.data.message,
							type: 'is-danger'
						});
					}
				})
				.catch(function(err) {
					self.$buefy.notification.open({
						message: err.response.data.message,
						type: 'is-danger'
					});
				})
				.finally(function() {});
		},
		update() {
			var self = this;
			apiProveedor
			.update(this.form, this.object.id)
			.then(function(res) {
				if(res.status == 200){
					self.$buefy.notification.open({
						message: res.data.message,
						type: 'is-success'
					});
					self.$emit("close");
					self.$parent.$parent.list();
				}else{
					self.$buefy.notification.open({
						message: res.data.message,
						type: 'is-danger'
					});
				}
			})
			.catch(function(err) {
				self.$buefy.notification.open({
					message: err.response.data.message,
					type: 'is-danger'
				});
			})
			.finally(function() {});
		}
	}
};
</script>