<template lang="pug">
div()
	.columns
		.column
			SelectGeneral(v-model="form.estado"  :title="$t('label.state')"  :options="referencias.estadosList"  :error="{ 'is-danger': $v.form.estado.$error }"  :required='false')
		.column
			SelectGeneral(v-model="form.municipio"  :title="$t('label.town')"  :options="referencias.municipiosList"  :error="{ 'is-danger': $v.form.municipio.$error }"  :required='false')
		.column
			SelectGeneral(v-model="form.ciudad"  :title="$t('label.city')"  :options="referencias.ciudadesList"  :error="{ 'is-danger': $v.form.ciudad.$error }"  :required='false')
	.columns
		.column
			b-field(:label="$t('label.direction')" 
					:type="{ 'is-danger': $v.form.direccion.$error }") 
				b-input(v-model='form.direccion', minlength='9')
		.column
		.column
	div(style="margin-top: 50px")
</template>
<script>
import {minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step3",
	props: {
		model: Object,
		referencias : Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			estado: {},
			municipio: {},
			ciudad: {},
			direccion: {minLength: minLength(9)
			}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>