<template lang="pug">
#clientes.container
	.buttons.is-right
		b-field(position='is-centered')
			b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
			p.control
				b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.client',1)})}}
	b-table( 
		:data="isEmpty ? [] : filteredClientes"
		:loading="isLoading"
		striped
		narrowed
		paginated
		sticky-header
		:total="total"
		:per-page="perPage"
		:default-sort="['id', 'asc']"
		@page-change="onPageChange"
		hoverable)
		template( slot-scope="props")
			b-table-column(field="id" sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
			b-table-column(field="codigo" sortable searchable centered :label="$t('label.code')") {{ props.row.codigo }}
			b-table-column(field="nombre" sortable searchable centered :label="$t('label.name')") {{ props.row.nombre }}
			b-table-column(field="rif" sortable searchable centered :label="$t('label.rif')") {{ props.row.rif }}
			b-table-column(field="persona_contacto" sortable searchable  centered :label="$t('label.contactPerson')") {{ props.row.persona_contacto }}
			b-table-column(field="telefono" sortable searchable  centered :label="$t('label.phone')") {{ props.row.telefono }}
			b-table-column(field="telefono_secundario" sortable searchable  centered :label="$t('label.secondaryPhone')") {{ props.row.telefono_secundario }}
			b-table-column(field="email" sortable searchable :label="$t('label.email')") {{ props.row.email }}
			b-table-column(field="email_secundario" sortable searchable  centered :label="$t('label.secondaryMail')") {{ props.row.email_secundario }}
			b-table-column(field="fax" sortable searchable centered :label="$t('label.fax')") {{ props.row.fax }}
			b-table-column(field="direccion" sortable searchable centered :label="$t('label.address')") {{ props.row.direccion }}
			b-table-column(field="logo" sortable searchable centered :label="$t('label.logo')") {{ props.row.logo }}

			b-table-column(field="estado.nombre"  sortable searchable centered :label="$t('label.state')") {{ !props.row.estado ? "" : props.row.estado.nombre }}
			b-table-column(field="municipio.nombre"  sortable searchable centered :label="$t('label.municipality')") {{ !props.row.municipio ? "" : props.row.municipio.nombre }}
			b-table-column(field="ciudad.nombre"  sortable searchable centered :label="$t('label.city')") {{ !props.row.ciudad ? "" : props.row.ciudad.nombre }}
			
			b-table-column(field="status.nombre" sortable searchable centered  :label="$t('label.status')")
				StatusType( :item="props.row")
			b-table-column(field="actions"
							sticky
							cell-class="is-sticky-right"
							header-class="is-sticky-right" 
							:label="$t('label.actions')" )
				b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.client')})")
					b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.client')})")
					b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.client')})")
					b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
		template(slot='empty')
			section.section.content.has-text-grey.has-text-centered
				p
					b-icon(icon='frown', size='is-large')
				p {{$t('label.tblisEmpty',{module:$tc('module.client',2)})}}

</template>
<script>
import apiCliente from "@/api/cliente"
//-components
import modal from "./modal";
import StatusType from "@/components/StatusType"
export default {
	name:"clientes",
	data(){
		return{
			clientes:[],
			isLoading:false,
			isEmpty:true,
			search: "",
			perPage: 10,
			total: 0,
			page: 1
		}
	},
	mounted(){
		this.list()
	},
	components:{StatusType},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiCliente.list()
			.then(function (res){
				//console.log("list_Clients",res)
				if(res.status == 200){
					self.clientes = res.data.data
					self.isEmpty = false
				}
			})
			.catch(function (err) {
				console.error('@listCliente',err)
			})
			.finally(function() {
				self.isLoading = false
				//console.warn('finally')
			})
		},
		showModal(event,object=null) {
			this.$buefy.modal.open({
				props: { 
					event:event,
					object:object?object:{}
				},
				parent: this,
				component: modal,
				hasModalCard: true,
				trapFocus: true
			});
		},
		destroy(id){
			var self = this   
			this.$buefy.dialog.confirm({
				title: this.$t('label.delete',{module:this.$tc('module.client')}),
				message: this.$t('messages.delete_confirm',{module:this.$tc('module.client')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					apiCliente.destroy(id)
					.then(function(res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@destroy',err)
					})
					.finally(function() { self.list();})
				}
			})
		},
		recycle(id){
			var self = this
			this.$buefy.dialog.confirm({
				title:this.$t('label.recycle',{module:this.$tc('module.client')}),
				message: this.$t('messages.recycle_confirm',{module:this.$tc('module.client')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => {
					apiCliente.recycle(id)
					.then(function (res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@delete',err);
					})
					.finally(function() {
						self.list();
					});
				}
			});
		},
		onPageChange(page) {
			this.page = page;
			this.loadAsyncData();
		}
	},
	computed: {
		filteredClientes() {
		let filter = this.clientes.filter(ele => {
			if(!ele.codigo){ele.codigo=" ";}
			if(!ele.nombre){ele.nombre=" ";}
			if(!ele.rif){ele.rif=" ";}
			if(!ele.persona_contacto){ele.persona_contacto=" ";}
			if(!ele.telefono){ele.telefono=" ";}
			if(!ele.telefono_secundario){ele.telefono_secundario=" ";}
			if(!ele.email){ele.email=" ";}
			if(!ele.email_secundario){ele.email_secundario=" ";}
			if(!ele.fax){ele.fax=" ";}
			if(!ele.direccion){ele.direccion=" ";}
			if(!ele.logo){ele.logo=" ";}
			if(!ele.estado){ele.estado={};ele.estado.nombre="";}
			if(!ele.municipio){ele.municipio={};ele.municipio.nombre="";}
			if(!ele.ciudad){ele.ciudad={};ele.ciudad.nombre="";}
			if(!ele.status){ele.status={};ele.status.nombre="";}
			let result =
				this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
			||	ele.codigo.toLowerCase().match(this.search.toLowerCase())
			||	ele.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.rif.toLowerCase().match(this.search.toLowerCase())
			||	ele.persona_contacto.toLowerCase().match(this.search.toLowerCase())
			||	ele.telefono.toLowerCase().match(this.search.toLowerCase())
			||	ele.telefono_secundario.toLowerCase().match(this.search.toLowerCase())
			||	ele.email.toLowerCase().match(this.search.toLowerCase())
			||	ele.email_secundario.toLowerCase().match(this.search.toLowerCase())
			||	ele.fax.toLowerCase().match(this.search.toLowerCase())
			||	ele.direccion.toLowerCase().match(this.search.toLowerCase())
			||	ele.logo.toLowerCase().match(this.search.toLowerCase())
			||	ele.estado.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.municipio.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.ciudad.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
			;
			return result;
		});
		if (this.search == "") {
			filter = this.clientes;
		}
		return filter;
		}
	}
}
</script>