<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.name.$error }") 
				b-input(required v-model='form.name', minlength='3')
		.column
			b-field(:label="$t('label.username')" 
					:type="{ 'is-danger': $v.form.username.$error }")
				b-input(required v-model='form.username', minlength='2')
		.column
			b-field(:label="$t('label.password')" 
					:type="{ 'is-danger': $v.form.password.$error }")
				b-input(required v-model='form.password', minlength='6', type="password")
	.columns
		.column
			b-field(:label="$t('label.facebook')" 
					:type="{ 'is-danger': $v.form.facebook.$error }")
				b-input(v-model='form.facebook', minlength='4')
		.column
			SelectGeneral(v-model="form.persona"  :title="$t('label.people')"  :options="personasList"  :error="{ 'is-danger': $v.form.persona.$error }"  :required='true')
		.column

	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			persona: {required},
			name: {required, minLength: minLength(3)},
			username: {required, minLength: minLength(2)},
			password: {required, minLength: minLength(6)},
			facebook: {minLength: minLength(4)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>