<template lang="pug">
 #detalles.container(v-if="visible")
    .buttons.is-right
        b-field(position='is-centered')
            b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
            p.control
                b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store',item)") {{$t('btn.record',{module:$tc('module.requestDetail',1)})}}
                b-button(type="is-danger" size="is-small" icon-left="fas fa-times" @click="cerrar()") {{$t('btn.close',{module:$tc('module.requestDetail',1)})}}

    h4(class="title is-4") {{$t('label.requestDetail')}} {{$t('label.code')}}: {{item.codigo}}.

    b-table(
        :data="isEmpty ? [] : filteredEmpaque"
        :loading="isLoading"
        striped
        narrowed
        paginated
        sticky-header
        :total="total"
        :per-page="perPage"
        :default-sort="['id', 'asc']"
        @page-change="onPageChange"
        hoverable)
        template( slot-scope="props")
            b-table-column(field="pedido.codigo" sortable searchable centered :label="$t('label.order')") {{ props.row.pedido.codigo }}
            b-table-column(field="codigo_pedido" sortable searchable centered :label="$t('label.codeOrder')") {{ props.row.codigo_pedido }}
            b-table-column(field="renglon" sortable searchable centered :label="$t('label.row')") {{ props.row.renglon }}
            b-table-column(field="producto.nombre" sortable searchable centered :label="$t('label.product')") {{ props.row.producto.nombre }}
            b-table-column(field="cantidad" sortable searchable centered :label="$t('label.quantity')") {{ props.row.cantidad }}
            b-table-column(field="unidad_peso" sortable searchable centered :label="$t('label.weightUnit')") {{ props.row.unidad_peso }}
            b-table-column(field="lote" sortable searchable centered :label="$t('label.lot')") {{ props.row.lote }}
            b-table-column(field="status.nombre" sortable searchable centered  :label="$t('label.status')")
                StatusType( :item="props.row")
            b-table-column(field="actions"
                            sticky
                            cell-class="is-sticky-right"
                            header-class="is-sticky-right" 
                            :label="$t('label.actions')" )
                b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.requestDetail')})")
                    b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.requestDetail')})")
                    b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.requestDetail')})")
                    b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
        template(slot='empty')
            section.section.content.has-text-grey.has-text-centered
                p
                    b-icon(icon='frown', size='is-large')
                p {{$t('label.tblisEmpty',{module:$tc('module.requestDetail',2)})}}

</template>
<script>
import apiPedidoDetalle from "@/api/pedidoDetalle";
//-components
import modalPedidosDetalles from "./modalPedidosDetalles";
import StatusType from "@/components/StatusType";

export default {
    name: 'pedidosDetalles',
    components:{
        StatusType
    },
    data(){
        return{
            item:Object,
            pedidosDetalles:[],
            isLoading:false,
            isEmpty: true,
            visible: false,
            search: "",
            perPage: 10,
            total: 0,
            page: 1
        }
    },
    methods:{
        list(productoId){
            var self = this
            self.isLoading = true;
            apiPedidoDetalle.list(productoId)
            .then(function (res){
            if(res.status == 200){
                self.pedidosDetalles = res.data.data
                self.isEmpty = false
            }
            })
            .catch(function (err) {
                console.error('@listPedidoDetalle',err)
            })
            .finally(function() {
                self.isLoading = false
            })
        },
        showModal(event,object=null) {
            this.$buefy.modal.open({
                props: { 
                    event:event,
                    object:object?object:{}
                },
                parent: this,
                component: modalPedidosDetalles,
                hasModalCard: true,
                trapFocus: true
            });
        },
        destroy(id){
            var self = this   
            this.$buefy.dialog.confirm({
                title: this.$t('label.delete',{module:this.$tc('module.requestDetail')}),
                message: this.$t('messages.delete_confirm',{module:this.$tc('module.requestDetail')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    apiPedidoDetalle.destroy(id)
                    .then(function(res){
                        if(res.status == 200){
                            console.log('res',res)
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@destroy',err)
                    })
                    .finally(function() { self.list(self.item.id);})
                }
            })
        },
        recycle(id){
            var self = this
            this.$buefy.dialog.confirm({
                title:this.$t('label.recycle',{module:this.$tc('module.requestDetail')}),
                message: this.$t('messages.recycle_confirm',{module:this.$tc('module.requestDetail')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-info',
                hasIcon: true,
                onConfirm: () => {
                    apiPedidoDetalle.recycle(id)
                    .then(function (res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@delete',err);
                    })
                    .finally(function() {
                        self.list(self.item.id);
                    });
                }
            });
        },
        cerrar(){
            this.visible=false;
        },
        onPageChange(page) {
            this.page = page;
            this.loadAsyncData();
        }
    },
    computed:{
        filteredEmpaque(){
            let filter = this.pedidosDetalles.filter(ele => {
			if(!ele.codigo_pedido){ele.codigo_pedido=" ";}
			if(!ele.renglon){ele.renglon=" ";}
			if(!ele.cantidad){ele.cantidad=" ";}            
			if(!ele.lote){ele.lote=" ";}            
			if(!ele.pedido){ele.pedido={};ele.pedido.codigo="";}
            if(!ele.producto){ele.producto={};ele.producto.nombre="";}            
			let result =
				this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
			||	ele.codigo_pedido.toLowerCase().match(this.search.toLowerCase())
            ||	ele.renglon.toLowerCase().match(this.search.toLowerCase())
			||	this.lodash.toString(ele.cantidad).toLowerCase().match(this.search.toLowerCase())
            ||	ele.lote.toLowerCase().match(this.search.toLowerCase())
			||	ele.pedido.codigo.toLowerCase().match(this.search.toLowerCase())
			||	ele.producto.nombre.toLowerCase().match(this.search.toLowerCase())
			||	ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
			;
			return result;
            });
            if (this.search == "") {
                filter = this.pedidosDetalles;
            }
            //console.log(filter);
            return filter;
        }
    }
}
</script>