<template lang="pug">
#pedidos.container
    .buttons.is-right
        b-field(position='is-centered')
            b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
            p.control
                b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.request',1)})}}
    b-table( 
        :data="isEmpty ? [] : filteredPedidos"
        :loading="isLoading"
        striped
        narrowed
        paginated
        sticky-header
        :total="total"
        :per-page="perPage"
        :default-sort="['id', 'asc']"
        @page-change="onPageChange"
        hoverable)
        template( slot-scope="props")
            b-table-column(field="id"  sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
            b-table-column(field="codigo"  sortable searchable centered :label="$t('label.code')") {{ props.row.codigo }}
            b-table-column(field="descripcion"  sortable searchable centered :label="$t('label.description')") {{ props.row.descripcion }}
            b-table-column(field="fecha"  sortable searchable centered :label="$t('label.date')") {{ props.row.fecha | dateFormat}} 
                    
            b-table-column(field="cliente.nombre"  sortable searchable centered :label="$t('label.client')") {{ !props.row.cliente ? "" : props.row.cliente.nombre }}			
            b-table-column(field="granja.nombre"  sortable searchable centered :label="$t('label.farm')") {{ !props.row.granja ? "" : props.row.granja.nombre }}			
            b-table-column(field="proveedor.nombre"  sortable searchable centered :label="$t('label.provider')") {{ !props.row.proveedor ? "" : props.row.proveedor.nombre }}			
            b-table-column(field="tipo.nombre"  sortable searchable centered :label="$t('label.type')") {{ props.row.tipo.nombre }}			
            b-table-column(field="estatus.nombre"  sortable searchable centered :label="$t('label.estatus')") {{ props.row.estatus.nombre }}			
            
            b-table-column(field="status.nombre"  sortable searchable centered  :label="$t('label.status')")
                StatusType( :item="props.row")
            b-table-column(field="actions"
                            sticky
                            cell-class="is-sticky-right"
                            header-class="is-sticky-right" 
                            :label="$t('label.actions')" )
                b-tooltip(v-if=" props.row.deleted_at == null", type="is-info", :label="$t('label.details',{module:$tc('module.request')})")
                    b-button(type="is-info" size="is-small" icon-right="file" @click="showDetails(props.row)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.request')})")
                    b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.request')})")
                    b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
                | &nbsp;
                b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.request')})")
                    b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
        template(slot='empty')
            section.section.content.has-text-grey.has-text-centered
                p
                    b-icon(icon='frown', size='is-large')
                p {{$t('label.tblisEmpty',{module:$tc('module.request',2)})}}

    Detalles( ref="detalles" :item="{id:0}")

</template>
<script>
import apiPedido from "@/api/pedido"
//-components
import modal from "./modal";
import Detalles from "./detalles";
import StatusType from "@/components/StatusType"
export default {
    name:"pedidos",
    data(){
        return{
            pedidos:[],
            isLoading:false,
            isEmpty:true,
            search: "",
            perPage: 10,
            total: 0,
            page: 1
        }
    },
    mounted(){
        this.list()
    },
    components:{
        StatusType,
        Detalles
    },
    methods:{
        list(){
            var self = this
            self.isLoading = true
            apiPedido.list()
            .then(function (res){
                if(res.status == 200){
                    self.pedidos = res.data.data
                    self.isEmpty = false
                }
            })
            .catch(function (err) {
                console.error('@listPedido',err)
            })
            .finally(function() {
                self.isLoading = false
            })
        },
        showModal(event,object=null) {
            this.$buefy.modal.open({
                props: { 
                    event:event,
                    object:object?object:{}
                },
                parent: this,
                component: modal,
                hasModalCard: true,
                trapFocus: true
            });
        },
        destroy(id){
            var self = this   
            this.$buefy.dialog.confirm({
                title: this.$t('label.delete',{module:this.$tc('module.request')}),
                message: this.$t('messages.delete_confirm',{module:this.$tc('module.request')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    apiPedido.destroy(id)
                    .then(function(res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@destroy',err)
                    })
                    .finally(function() { self.list();})
                }
            })
        },
        recycle(id){
            var self = this
            this.$buefy.dialog.confirm({
                title:this.$t('label.recycle',{module:this.$tc('module.request')}),
                message: this.$t('messages.recycle_confirm',{module:this.$tc('module.request')}),
                confirmText: this.$t('btn.confirm'),
                cancelText: this.$t('btn.cancel'),
                type: 'is-info',
                hasIcon: true,
                onConfirm: () => {
                    apiPedido.recycle(id)
                    .then(function (res){
                        if(res.status == 200){
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-success'
                            });
                        }else{
                            self.$buefy.notification.open({
                                message: res.data.message,
                                type: 'is-danger'
                            });
                        }
                    })
                    .catch(function (err) {
                        console.error('@delete',err);
                    })
                    .finally(function() {
                        self.list();
                    });
                }
            });
        },
        showDetails(row){
            // console.log(row)
            this.$refs.detalles.item=row;
            this.$refs.detalles.list(row.id);
            this.$refs.detalles.visible=true;
            console.log(this.$refs.detalles)
        },
        onPageChange(page) {
            this.page = page;
            this.loadAsyncData();
        }
    },
    computed: {
        filteredPedidos() {
        let filter = this.pedidos.filter(ele => {
            if(!ele.codigo){ele.codigo=" ";}
            if(!ele.descripcion){ele.descripcion=" ";}
            if(!ele.fecha){ele.fecha=" ";}
            if(!ele.cliente){ele.cliente={};ele.cliente.nombre="";}
            if(!ele.granja){ele.granja={};ele.granja.nombre="";}
            if(!ele.proveedor){ele.proveedor={};ele.proveedor.nombre="";}
            if(!ele.tipo){ele.tipo={};ele.tipo.nombre="";}
            if(!ele.estatus){ele.estatus={};ele.estatus.nombre="";}
            // if(!ele.status){ele.status={};ele.status.nombre="";}
            let result =
                this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
            ||	ele.codigo.toLowerCase().match(this.search.toLowerCase())
            ||	ele.descripcion.toLowerCase().match(this.search.toLowerCase())
            ||	this.moment(ele.fecha, 'YYYY-MM-DD').format('DD/MM/YYYY').match(this.search)
            ||	ele.cliente.nombre.toLowerCase().match(this.search.toLowerCase())
            ||	ele.granja.nombre.toLowerCase().match(this.search.toLowerCase())
            ||	ele.proveedor.nombre.toLowerCase().match(this.search.toLowerCase())
            ||	ele.tipo.nombre.toLowerCase().match(this.search.toLowerCase())
            ||	ele.estatus.nombre.toLowerCase().match(this.search.toLowerCase())
            ||	ele.status.nombre.toLowerCase().match(this.search.toLowerCase())
            ;
            return result;
        });
        if (this.search == "") {
            filter = this.pedidos;
        }
        return filter;
        }
    }
}
</script>