<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.nombre.$error }") 
				b-input(required v-model='form.nombre', minlength='4')
		.column
			b-field(:label="$t('label.value')"
					:type="{ 'is-danger': $v.form.valor.$error }")
				b-numberinput(required numeric v-model='form.valor' :controls="false" )
		.column
			b-field(:label="$t('label.description')"
					:type="{ 'is-danger': $v.form.descripcion.$error }")
				b-input(numericv-model='form.descripcion')
	.columns
		.column
			SelectGeneral(	v-model="form.producto"  
							:options="referencias.productosList"  
							:required='true'  
							:title="$t('label.product')"  
							:error="{ 'is-danger': $v.form.producto.$error }"
						)
		.column
			SelectGeneral(	v-model="form.condicion"  
							:options="referencias.condicionesList"  
							:required='true'  
							:title="$t('label.condition')"  
							:error="{ 'is-danger': $v.form.condicion.$error }"
						)
		.column
	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength, numeric} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			nombre: {required, minLength: minLength(4)},
			valor: {numeric, required},
			descripcion: {},
			producto: {required},
			condicion: {required}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>