<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.phone')" 
					:type="{ 'is-danger': $v.form.telefono.$error }")
				b-input(v-model='form.telefono', minlength='6', min="0", type="tel", placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.secondaryPhone')" example
					:type="{ 'is-danger': $v.form.telefono_secundario.$error }")
				b-input(v-model='form.telefono_secundario', minlength='6', min="0", type="tel", placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.web')" 
					:type="{ 'is-danger': $v.form.web.$error }") 
				b-input(v-model='form.web', minlength='9', type="url", placeholder="www.domain.com")
	.columns
		.column
			b-field(:label="$t('label.fax')" 
					:type="{ 'is-danger': $v.form.fax.$error }")
				b-input(v-model='form.fax', type="tel", minlength='5', min="0", placeholder="123456" :controls="false" )
		.column
		.column

	div(style="margin-top: 50px")
</template>
<script>
import { numeric, minLength, url, minValue} from "vuelidate/lib/validators";
export default {
	name: "step2",
	props: {
		model: Object,
		referencias: Object
	},
	data() {
		return {
			form: this.model,
			isValid:false
		};
	},
	validations: {
		form: {
			telefono: {numeric, minLength: minLength(6), minValue: minValue(0)},
			telefono_secundario: {numeric, minLength: minLength(6), minValue: minValue(0)},
			web: {url, minLength: minLength(9)},
			fax: {numeric, minLength: minLength(5), minValue: minValue(0)
			}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>