<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.phone')" 
					:type="{ 'is-danger': $v.form.telefono.$error }")
				b-input(numeric v-model='form.telefono', placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.secondaryPhone')" example
					:type="{ 'is-danger': $v.form.telefono_secundario.$error }")
				b-input(numeric v-model='form.telefono_secundario', placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.email')" 
					:type="{ 'is-danger': $v.form.email.$error }") 
				b-input(v-model='form.email', type="email", placeholder="example@domain.com")

	.columns
		.column
			b-field(:label="$t('label.secondaryMail')" 
					:type="{ 'is-danger': $v.form.email_secundario.$error }")
				b-input(v-model='form.email_secundario', type="email", placeholder="example@domain.com")
		.column
		.column

	div(style="margin-top: 50px")
</template>
<script>
import {numeric, email} from "vuelidate/lib/validators";
export default {
	name: "step2",
	props: {
		model: Object,
		referencias: Object
	},
	data() {
		return {
			form: this.model,
			isValid:false
		};
	},
	validations: {
		form: {
			telefono: {numeric},
			telefono_secundario: {numeric},
			email: {email},
			email_secundario: {email}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>