<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(required v-model='form.codigo', minlength='2')
		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.nombre.$error }") 
				b-input(required v-model='form.nombre', minlength='4')
		.column
			b-field(:label="$t('label.description')" 
					:type="{ 'is-danger': $v.form.descripcion.$error }")
				b-input(v-model='form.descripcion')
	.columns
		.column
			b-field(:label="$t('label.weightMinimum')" 
					:type="{ 'is-danger': $v.form.peso_minimo.$error }") 
				b-numberinput(required numeric v-model='form.peso_minimo' :controls="false" )
		.column
			b-field(:label="$t('label.ip')" 
					:type="{ 'is-danger': $v.form.ip.$error }")
				b-input(required ipAddress v-model='form.ip')
		.column
			b-field(:label="$t('label.mac')" 
					:type="{ 'is-danger': $v.form.mac.$error }")
				b-input(required macAddress v-model='form.mac', separador = ':')

	.columns
		.column
			SelectGeneral(	v-model="form.forma"  
							:options="referencias.formasList"  
							:required='true'  
							:title="$t('label.shape')"  
							:error="{ 'is-danger': $v.form.forma.$error }"
						)
		.column
			SelectGeneral(	v-model="form.estacion"  
							:options="referencias.estacionesList"  
							:required='true'  
							:title="$t('label.station')"  
							:error="{ 'is-danger': $v.form.estacion.$error }"
						)
		.column
			SelectGeneral(	v-model="form.modelo"  
							:options="referencias.modelosList"  
							:required='true'  
							:title="$t('label.model')"  
							:error="{ 'is-danger': $v.form.modelo.$error }"
						)

	.columns
		.column
			SelectGeneral(	v-model="form.impresora"  
							:options="referencias.impresorasList"  
							:required='true'  
							:title="$t('label.printer')"  
							:error="{ 'is-danger': $v.form.impresora.$error }"
						)
		.column
			SelectGeneral(	v-model="form.etiqueta"  
							:options="referencias.etiquetasList"  
							:required='true'  
							:title="$t('label.label')"  
							:error="{ 'is-danger': $v.form.etiqueta.$error }"
						)
		.column

	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength, numeric, ipAddress, macAddress} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			proveedor: {},
			codigo: {required, minLength:minLength(2)},
			nombre: {required, minLength:minLength(4)},
			descripcion: {},
			peso_minimo: {required, numeric},
			ip: {required, ipAddress:ipAddress(":") },
			mac: {required, macAddress},
			forma: {required},
			estacion: {required},
			modelo: {required},
			impresora: {required},
			etiqueta: {required}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>