<template lang="pug">
	b-field(:label="title" :type="error")
		b-select.w100( v-model="selected" @input="onChange()"  :disabled="disabled"  :required="required"  :multiple="multiple" expanded) 
			option( value='') Selecciona una Opción
			option( v-for="opt in options" 
				:key="opt.id"
				:value='opt.id'
				:selected='value == opt.id?true:false')
				| {{opt.nombre}}
</template>
<script>
export default {
	name: 'SelectGeneral',
	props:{
		value:Number,
		options: Array,
		error: Object,
		title: String,
		required: Boolean,
		multiple: Boolean,
		disabled: {
			type:Boolean,
			default: false
		}
	},
	data () {
		return {
			selected:this.value,
			//isLoading:false,
			//disabled:false,
			//options:this.options
			//multiple: true
		}
	},
	mounted(){
	},
	methods:{
		onChange() {
			if (this.selected === 0) {this.selected = 0;}
			this.selected=this.selected == '' ? null : this.selected;
			this.$emit('input', this.selected);
		}
	}
}
</script>