<template lang="pug">
    //- b-field(:label="title").select.w100( v-bind:class="{ 'is-loading': isLoading, 'select':multiple, 'is-multiple':multiple}" style='height: 36px;' )-//
    select.w100( @change="onChange($event.target.value)" :disabled="disabled" :required="required" :multiple="multiple")
        option( value='') Selecciona una Opción
        option( v-for="opt in options" 
                :key="opt.id"
                :value='opt.id'
                :selected='value == opt.id?true:false')
                | {{opt.nombre}}
</template>
<script>
export default {
    name: 'SelectGeneral',
    props:{
        value:Number,
        options: Array,
        //title: String,
        required: Boolean,
        multiple: Boolean,
        disabled: {
            type:Boolean,
            default: false
        }
    },
	data () {
		return {
            selected:this.value,
            //isLoading:false,
            //disabled:false,
            //options:this.options
            //multiple: true
        }
    },
    mounted(){
    },
    methods:{
        onChange(value) {
            if (value === 0) {value = 0;}
            this.$emit('input', parseFloat(value));
        }
    }
}
</script>