<template lang="pug">
#StatusType
  b-taglist.is-centered.flex-nowrap(attached v-if="item.deleted_at == null")
    b-tag(:type='type')
      b-icon(:icon='icon', size='is-small')  
    b-tag(:type='type' ) {{item.status.nombre}}

  b-taglist.is-centered.flex-nowrap(attached  v-else )
    b-tag(type='is-danger')
      b-icon(icon='trash', size='is-small')  
    b-tag(type='is-danger') Eliminado 
</template>
<script>
export default {
    name: 'StatusType',
    props:{
        item:Object
    },
    computed:{
      type(){
        switch (this.item.status.id) {
          case 101 : return "is-success";
          case 102 : return "is-warning";
          default : return "is-danger";
        }
      },
      icon(){
        switch (this.item.status.id) {
          case 101 : return "check";
          case 102 : return "exclamation-triangle";
          default : return "exclamation-circle";
        }
      }
    }
}
</script>