<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.codeOrder')" 
					:type="{ 'is-danger': $v.form.codigo_pedido.$error }")
				b-input(required v-model='form.codigo_pedido')
		.column
			b-field(:label="$t('label.row')" 
					:type="{ 'is-danger': $v.form.renglon.$error }")
				b-input(required v-model='form.renglon')
		.column
			SelectGeneral(	v-model="form.producto"  
							:options="referencias.productosList"  
							:required='true'  
							:title="$t('label.product')"  
							:error="{ 'is-danger': $v.form.producto.$error }"
						)

	.columns
		.column
			b-field(:label="$t('label.quantity')" 
					:type="{ 'is-danger': $v.form.cantidad.$error }") 
				b-numberinput(required numeric v-model='form.cantidad' :controls="false" )
		.column
			b-field(:label="$t('label.unitWeight')" 
					)
				b-input(required v-model='form.unidad_peso')

		.column
			b-field(:label="$t('label.lot')" 
					:type="{ 'is-danger': $v.form.lote.$error }")
				b-input(required v-model='form.lote')

	div(style="margin-top: 50px")
</template>
<script>
import {required, numeric } from "vuelidate/lib/validators";
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
		SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			// pedido: { required },
			codigo_pedido: { required},
			renglon: { required},
			producto: { required },
			cantidad: { required, numeric },
			lote: { required}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>