<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.pieces')" 
					:type="{ 'is-danger': $v.form.piezas.$error }")
				b-input(required v-model='form.piezas', minlength='1', min="0", type="number", placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.grossWeight')" 
					:type="{ 'is-danger': $v.form.bruto.$error }")
				b-input(required v-model='form.bruto', minlength='1', min="0", type="number", placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.tare')" 
					:type="{ 'is-danger': $v.form.tara.$error }")
				b-input(required v-model='form.tara', minlength='1', min="0", type="number", placeholder="123456" :controls="false")
	.columns
		.column
			b-field(:label="$t('label.net')" 
					:type="{ 'is-danger': $v.form.neto.$error }")
				b-input(required v-model='form.neto', minlength='1', min="0", type="number", placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.observation')" 
					:type="{ 'is-danger': $v.form.observacion.$error }") 
				b-input(v-model='form.observacion', minlength='4')
		.column
			
	div(style="margin-top: 50px")
</template>
<script>
import {required, numeric, minLength, minValue} from "vuelidate/lib/validators";
export default {
	name: "step2",
	props: {
		model: Object,
		referencias: Object
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			piezas: { required, numeric, minLength: minLength(1), minValue: minValue(0) },
			bruto: { required, numeric, minLength: minLength(1), minValue: minValue(0) },
			tara: { required, numeric, minLength: minLength(1), minValue: minValue(0) },
			neto: { required, numeric, minLength: minLength(1), minValue: minValue(0) },
			observacion: {minLength: minLength(4)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>