<template lang="pug">
div()
	.columns
		.column
			SelectGeneral(v-model="form.producto"  :title="$t('label.packaging')"  :options="referencias.productosList"  :error="{ 'is-danger': $v.form.producto.$error }"  :required='true')
		.column
			b-field(:label="$t('label.description')" 
					:type="{ 'is-danger': $v.form.descripcion.$error }") 
				b-input(v-model='form.descripcion', minlength='4')
		.column
	div(style="margin-top: 50px")
</template>
<script>
import {required, minLength} from "vuelidate/lib/validators";
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
		SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			producto: { required },
			descripcion: { minLength: minLength(4) }
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>