<template lang="pug">
#forbidden.container
  h2.is-size-1 403 Forbidden
  code
    pre {{error.data}}
  router-link(to="/") Volver

</template>
<script>
export default {
  name: 'forbidden',
  props:{
    error:Object
  }
}
</script> 