<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.contact')" 
					:type="{ 'is-danger': $v.form.persona_contacto.$error }") 
				b-input(v-model='form.persona_contacto'  :placeholder="$t('label.contact')")
		.column
			b-field(:label="$t('label.phone')" 
					:type="{ 'is-danger': $v.form.telefono.$error }")
				b-input(numeric v-model='form.telefono', placeholder="123456" :controls="false")
		.column
			b-field(:label="$t('label.secondaryPhone')" example
					:type="{ 'is-danger': $v.form.telefono_secundario.$error }")
				b-input(numeric v-model='form.telefono_secundario', placeholder="123456" :controls="false")
	.columns
		.column
			b-field(:label="$t('label.email')" 
					:type="{ 'is-danger': $v.form.email.$error }") 
				b-input(required v-model='form.email', minlength='9', type="email", placeholder="example@domain.com")
		.column
			b-field(:label="$t('label.secondaryMail')" 
					:type="{ 'is-danger': $v.form.email_secundario.$error }")
				b-input(v-model='form.email_secundario', minlength='9', type="email", placeholder="example@domain.com")
		.column
			b-field(:label="$t('label.fax')" 
					:type="{ 'is-danger': $v.form.fax.$error }")
				b-input(v-model='form.fax', placeholder="123456" :controls="false" )

	div(style="margin-top: 50px")
</template>
<script>
import {required, numeric, minLength, email} from "vuelidate/lib/validators";
export default {
	name: "step2",
	props: {
		model: Object,
		referencias: Object
	},
	data() {
		return {
			form: this.model,
			isValid:false
		};
	},
	validations: {
		form: {
			persona_contacto: {minLength: minLength(3) },
			telefono: {numeric},
			telefono_secundario: {numeric},
			email: {required, email},
			email_secundario: {email},
			fax: {numeric}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>