<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(required v-model='form.codigo', minlength='2')
		.column
			b-field(:label="$t('label.description')" 
					:type="{ 'is-danger': $v.form.descripcion.$error }") 
				b-input(v-model='form.descripcion')
		.column
			b-field(:label="$t('label.date')" 
					:type="{ 'is-danger': $v.form.fecha.$error }")
				b-datepicker(ref='datepicker', expanded='', placeholder='' required v-model='form.fecha')
	.columns
		.column
			SelectGeneral(	v-model="form.cliente"  
							:options="referencias.clientesList"  
							:required='false'  
							:title="$t('label.client')"  
							:error="{ 'is-danger': $v.form.cliente.$error }"
						)
		.column
			SelectGeneral(	v-model="form.granja"  
							:options="referencias.granjasList"  
							:required='false'  
							:title="$t('label.farm')"  
							:error="{ 'is-danger': $v.form.granja.$error }"
						)
		.column
			SelectGeneral(	v-model="form.proveedor"  
							:options="referencias.proveedoresList"  
							:required='false'  
							:title="$t('label.provider')"  
							:error="{ 'is-danger': $v.form.proveedor.$error }"
						)
	.columns
		.column
			SelectGeneral(	v-model="form.tipo"  
							:options="referencias.tiposList"  
							:required='true'  
							:title="$t('label.type')"  
							:error="{ 'is-danger': $v.form.tipo.$error }"
						)
		.column
			SelectGeneral(	v-model="form.estatus"  
							:options="referencias.statusList"  
							:required='true'  
							:title="$t('label.estatus')"  
							:error="{ 'is-danger': $v.form.estatus.$error }"
						)
		.column

	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			codigo: {required, minLength: minLength(2) },
			descripcion: {},
			fecha: {required},
			cliente: {},
			granja: {},
			proveedor: {},
			tipo: {required},
			estatus: {required}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>