<template lang="pug">
footer.footer(style="padding: 1rem;")
    .content.has-text-right
        p
            strong GWS sistema
            | - V1.0.0 / 2020 - 
            | lang: 
            strong {{$i18n.locale}}
</template>
<script>
export default {
    name: 'adminFooter'
}
</script>