<template lang="pug">
#nav-bar
    .buttons.is-paddingless
        a.button.is-marginless.is-light(@click="toggleSideNav()")
            b-icon(pack="fas" :icon='sidebarDisplay?"bars":"ellipsis-v"' size="is-small")
        span.is-capitalized {{$t(getCurrentRute.toLocaleLowerCase())}}
    span
        b-icon( pack="fas" icon="user-circle" type="is-success" size="is-small")
        small {{getUserLoged.username}}
    .buttons.is-paddingless
        b-button.is-marginless( icon-pack="fas" icon-right="sign-out-alt"  @click="event_logOut()") 
</template>
<script>
import session from "@/api/session"
import { mapGetters, mapActions } from "vuex";
export default {
    name:"navBar",
    methods:{
        ...mapActions(["toggleSidebarDisplay"]),
        event_logOut(){
            this.$buefy.toast.open({
                duration: 2000,
                message: `saliendo de la app`,
                position: 'is-top-right',
                type: 'is-info'
            })
            session.logOut()
            // this.$router.push('/login');
        },
        toggleSideNav(){
            var event = !this.sidebarDisplay;
            this.$store.dispatch('toggleSidebarDisplay', event)
        }
    },
	computed:{
        ...mapGetters(["sidebarDisplay","getUserLoged","getCurrentRute"]),
	}
}
</script>
<style lang="scss">
#nav-bar{
    width: 100%;
    display: grid;
    grid-template-columns: auto 120px 40px;
    align-items: center;
}
</style>
<i18n src="@/locales/nav.json"></i18n>