<template lang="pug">
#pageloader(v-show="isLoading")
    img.loader-ring(src="@/assets/img/ring-alt.svg", alt="loader")
</template>
<script>
export default {
    name: 'pageloader',
    computed:{
        isLoading:function(){
            return this.$store.state.global.loading;
        }
	}
}
</script>
<style lang="scss">
#pageloader{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    text-align: center;
    backdrop-filter: blur(4px);
    & .loader-ring{
        margin-top: 15%
    }
}
</style>