<template lang="pug">
b-menu#asidebar
	img.brand(src='@/assets/gws-logo.png' alt='logoapp')
	b-menu
		b-menu-list
			b-menu-item( v-for="(rute , index) in rutes"
						:key="index"
						:tag="rute.path == '' ? 'a':'router-link'"
						:to="rute.path == '' ? null:rute.path"
						:icon="rute.icon"
						:class="rute.name == getCurrentRute.toLocaleLowerCase() ?'path-active':''")
				template(slot='label' slot-scope='props' )
					| {{$t('nav.'+rute.name)}}
					b-icon.is-pulled-right( v-if="rute.children"  :icon="props.expanded ? 'caret-down' : 'caret-up'")
						
				b-menu-item( v-if="rute.children" v-for="(child , index) in rute.children"
							:key="index"
							:icon="child.icon"
							tag="router-link"
							:to="child.path"
							:class="child.name == getCurrentRute.toLocaleLowerCase() ?'path-active':''")
					template(slot='label' slot-scope='props')
						| {{$t('nav.'+child.name)}}

</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "asidebar",
  data() {
    return {
      rutes: []
    };
  },
  mounted() {
    this.rutes = this.$router.options.routes[0].children;
  },
  methods: {
    ...mapActions(["toggleSidebarDisplay"])
  },
  computed: {
    ...mapGetters(["getCurrentRute"]),
    // orderedRutes: function() {
    //   return this.lodash.orderBy(this.rutes, "name");
    // }
  }
};
// <i18n src="@/locales/nav.json"></i18n>
</script>