<template lang="pug">
#Home.container
	.columns
		.column
			BoxRecepcion()
		.column
			BoxDespacho()
	.columns
		.column
			GraficasTotales()
</template>
<script>
import BoxRecepcion from "@/components/grafic/BoxRecepcion"
import BoxDespacho from "@/components/grafic/BoxDespacho"
import GraficasTotales from '@/components/grafic/GraficasTotales'
export default {
	name: 'Home',
	data(){
		return{
			title:"inicio dashboard"
		}
	},
	components:{
		GraficasTotales,
		BoxRecepcion,
		BoxDespacho
	}
}
</script>