<template lang="pug">
#login.grid
	form(v-on:submit='event_logIn' style="padding:4rem")
		br
		br
		br
		img(src='@/assets/gws-logo.png'
			alt='logoapp')
		p {{$t('login.title')}}
		b-field(:label="$t('login.username')")
			b-input( icon="user" v-model='user.username'
				placeholder='usernama'
				required)
		b-field(:label="$t('login.password')")
			b-input(type='password'
				icon="key" v-model='user.password'
				password-reveal
				placeholder='Your password'
				required)
		b-field.has-text-right
			button.button.is-primary( native-type="submit") {{$t('login.submit')}}

		b-notification(	v-show="apiMsg.display"
						:type='apiMsg.type'
						role='alert')
			| {{apiMsg.msg}}
		
</template>
<script>
import apiSession from "@/api/session"
export default {
	name: 'login',
	data () {
		return {
			title: 'login',
			user:{
				username:'adminGeneral',
				password:'admin'
			},
			apiMsg:{
				display:false,
				type:'is-info',
				title:'**',
				msg:'---',
			}
		}
	},
	methods:{
		event_logIn: async function() {
			event.preventDefault();
			var self = this;
				self.apiMsg.display = false;
				self.$store.dispatch('setLoadingState', true)
			await apiSession.logIn(this.user)
			.then(function (res){
				self.$store.dispatch('login', res.data).then(()=>{
					self.$router.replace('/'),error => console.error(error)
				})
			}).catch(function (err) {
				console.error('@apiSession',err)
				self.apiMsg.display = true;
				self.apiMsg.type = 'is-danger';
				if(err.response){
					self.apiMsg.msg = err.response.data.code+' - '+ err.response.data.message;
				}else{
					self.apiMsg.msg = err;
				}
			})
			.finally(function(){
				self.$store.dispatch('setLoadingState', false)
			});
		}
	}
}
</script>
<style lang="scss" scoped>
.grid{
	display: grid;
	grid-gap: .3rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
	align-items: center;
	justify-content: center;
}
</style>