<template lang="pug">
#adminTemplate
	navigation
	adminHeader
	section#appContainer
		router-view
	adminFooter
	loader
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import navigation from "./admin_components/navigation";
import adminFooter from "./admin_components/Footer";
import adminHeader from "./admin_components/Header";
import loader from "./admin_components/Loader";
export default {
	name: 'adminTemplate',
	components:{
		navigation,
		adminFooter,
		adminHeader,
		loader
	},
	mounted(){
		this.checkWindowWifth();
		window.addEventListener('resize', this.upadteWindowWidth);
	},
	methods:{
		...mapActions(["toggleSidebarDisplay","upadteWindowWidth"]),
		checkWindowWifth:function(){
			if(this.windowWidth < 600){
				this.$store.dispatch('toggleSidebarDisplay', false);
			}else{
				this.$store.dispatch('toggleSidebarDisplay', true);
			}
		}
	},
	computed:{
		...mapGetters(["sidebarDisplay","windowWidth"]),
	},
	watch:{
		windowWidth:function(){
			if(this.windowWidth < 600){
				this.$store.dispatch('toggleSidebarDisplay', false)
			}else{
				this.$store.dispatch('toggleSidebarDisplay', true)
			}
		}
	}
}
</script>

