<template lang="pug">
#loginTemplate
	router-view
	loader
</template>
<script>
import loader from "./admin_components/Loader";
export default {
	name: 'loginTemplate',
	data(){
		return{
			name: 'loginTemplate'
		}
	},
	components:{
		loader
	}
}
</script>