<template lang="pug">
#granja.container
	.buttons.is-right
		b-field(position='is-centered')
			b-input(:placeholder="$t('label.search')" v-model="search" size="is-small" type='search' icon='search')
			p.control
				b-button(type="is-primary" size="is-small" icon-left="fas fa-plus" @click="showModal('store')") {{$t('btn.record',{module:$tc('module.farm',1)})}}
	b-table(
		:data="isEmpty ? [] : filteredGranja"
		:loading="isLoading"
		striped
		narrowed
		paginated
		sticky-header
		:total="total"
		:per-page="perPage"
		:default-sort="['id', 'asc']"
		@page-change="onPageChange"
		hoverable)
		template( slot-scope="props")
			b-table-column(field="id" sortable searchable centered :label="$t('label.id')") {{ props.row.id }}
			b-table-column(field="nombre" sortable searchable :label="$t('label.name')") {{ props.row.nombre }}
			b-table-column(field="rif" sortable searchable :label="$t('label.rif')") {{ props.row.rif }}
			b-table-column(field="persona_contacto" sortable searchable :label="$t('label.contact')") {{ props.row.persona_contacto }}
			b-table-column(field="telefono" sortable searchable :label="$t('label.phone')") {{ props.row.telefono }}
			b-table-column(field="telefono_secundario" sortable searchable :label="$t('label.secondaryPhone')") {{ props.row.telefono_secundario }}
			b-table-column(field="email" sortable searchable :label="$t('label.email')") {{ props.row.email }}
			b-table-column(field="email_secundario" sortable searchable :label="$t('label.secondaryMail')") {{ props.row.email_secundario }}
			b-table-column(field="fax" sortable searchable :label="$t('label.fax')") {{ props.row.fax }}
			b-table-column(field="proveedor.nombre" sortable searchable :label="$t('label.provider')") {{ props.row.proveedor.nombre ? props.row.proveedor.nombre : '--' }}
			b-table-column(field="estado.nombre" sortable searchable :label="$t('label.state')") {{ props.row.estado.nombre ? props.row.estado.nombre : '--' }}
			b-table-column(field="municipio.nombre" sortable searchable :label="$t('label.town')") {{ props.row.municipio.nombre ? props.row.municipio.nombre : '--' }}
			b-table-column(field="ciudad.nombre" sortable searchable :label="$t('label.city')") {{ props.row.ciudad.nombre ? props.row.ciudad.nombre : '--' }}
			b-table-column(field="direccion" sortable searchable :label="$t('label.direction')") {{ props.row.direccion }}
			b-table-column(field="status.nombre" sortable searchable centered  :label="$t('label.status')") 
				StatusType( :item="props.row")
			b-table-column(field="actions"
							sticky
							cell-class="is-sticky-right"
							header-class="is-sticky-right" 
							:label="$t('label.actions')" )
				b-tooltip(v-if=" props.row.deleted_at == null", :label="$t('label.edit',{module:$tc('module.farm')})")
					b-button(type="is-primary" size="is-small" icon-right="edit" @click="showModal('update',props.row)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at == null", type="is-danger", :label="$t('label.delete',{module:$tc('module.farm')})")
					b-button(type="is-danger" size="is-small" icon-right="trash" @click="destroy(props.row.id)")
				| &nbsp;
				b-tooltip(v-if=" props.row.deleted_at != null", type="is-info", :label="$t('label.recycle',{module:$tc('module.farm')})")
					b-button(type="is-info" size="is-small" icon-right="recycle" @click="recycle(props.row.id)")
		template(slot='empty')
			section.section.content.has-text-grey.has-text-centered
				p
					b-icon(icon='frown', size='is-large')
				p {{$t('label.tblisEmpty',{module:$tc('module.farm',2)})}}

</template>
<script>
import apiGranja from "@/api/granja";
//-components
import modal from "./modal";
import StatusType from "@/components/StatusType"
export default {
	name:"granja",
	data(){
		return{
			granja:[],
			isLoading:false,
			isEmpty:true,
			search: "",
			perPage: 10,
			total: 0,
			page: 1
		}
	},
	mounted(){
		this.list()
	},
	components:{StatusType},
	methods:{
		list(){
			var self = this
			self.isLoading = true
			apiGranja.list()
			.then(function (res){
			if(res.status == 200){
				self.granja = res.data.data
				self.isEmpty = false
			}
			})
			.catch(function (err) {
				console.error('@listGranja',err)
			})
			.finally(function() {
				self.isLoading = false
			})
		},
		showModal(event,object=null) {
			this.$buefy.modal.open({
				props: { 
					event:event,
					object:object?object:{}
				},
				parent: this,
				component: modal,
				hasModalCard: true,
				trapFocus: true
			});
		},
		destroy(id){
			var self = this   
			this.$buefy.dialog.confirm({
				title: this.$t('label.delete',{module:this.$tc('module.farm')}),
				message: this.$t('messages.delete_confirm',{module:this.$tc('module.farm')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					apiGranja.destroy(id)
					.then(function(res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@destroy',err)
					})
					.finally(function() { self.list();})
				}
			})
		},
		recycle(id){
			var self = this
			this.$buefy.dialog.confirm({
				title:this.$t('label.recycle',{module:this.$tc('module.farm')}),
				message: this.$t('messages.recycle_confirm',{module:this.$tc('module.farm')}),
				confirmText: this.$t('btn.confirm'),
				cancelText: this.$t('btn.cancel'),
				type: 'is-info',
				hasIcon: true,
				onConfirm: () => {
					apiGranja.recycle(id)
					.then(function (res){
						if(res.status == 200){
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-success'
							});
						}else{
							self.$buefy.notification.open({
								message: res.data.message,
								type: 'is-danger'
							});
						}
					})
					.catch(function (err) {
						console.error('@delete',err);
					})
					.finally(function() {
						self.list();
					});
				}
			});
		},
		onPageChange(page) {
			this.page = page;
			this.loadAsyncData();
		}
	},
	computed: {
		filteredGranja() {
			let filter = this.granja.filter(ele => {
				if(!ele.nombre){ele.nombre="";}
				if(!ele.rif){ele.rif="";}
				if(!ele.direccion){ele.direccion={};ele.direccion="";}
				if(!ele.telefono){ele.telefono="";}
				if(!ele.telefono_secundario){ele.telefono_secundario="";}
				if(!ele.email){ele.email="";}
				if(!ele.email_secundario){ele.email_secundario="";}
				if(!ele.proveedor){ele.proveedor={};ele.proveedor.nombre="";}
				if(!ele.estado){ele.estado={};ele.estado.nombre="";}
				if(!ele.municipio){ele.municipio={};ele.municipio.nombre="";}
				if(!ele.ciudad){ele.ciudad={};ele.ciudad.nombre="";}
				
				let result =
					this.lodash.toString(ele.id).toLowerCase().match(this.search.toLowerCase())
				||	ele.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.rif.toLowerCase().match(this.search.toLowerCase())
				||	ele.direccion.toLowerCase().match(this.search.toLowerCase())
				||	ele.telefono.toLowerCase().match(this.search.toLowerCase())
				||	ele.telefono_secundario.toLowerCase().match(this.search.toLowerCase())
				||	ele.email.toLowerCase().match(this.search.toLowerCase())
				||	ele.email_secundario.toLowerCase().match(this.search.toLowerCase())
				||	ele.proveedor.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.estado.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.municipio.nombre.toLowerCase().match(this.search.toLowerCase())
				||	ele.ciudad.nombre.toLowerCase().match(this.search.toLowerCase())
				;
				return result;
			});
			if (this.search == "") {
				filter = this.granja;
			}
		return filter;
		}
	}
};
</script>