<template lang="pug">
div()
	.columns
		.column
			b-field(:label="$t('label.code')" 
					:type="{ 'is-danger': $v.form.codigo.$error }")
				b-input(required v-model='form.codigo', minlength='2')
		.column
			b-field(:label="$t('label.name')" 
					:type="{ 'is-danger': $v.form.nombre.$error }") 
				b-input(required v-model='form.nombre', minlength='4')
		.column
			b-field(:label="$t('label.value')+' Kg'"
					:type="{ 'is-danger': $v.form.valor.$error }")
				b-input(required v-model='form.valor', value="", type="number", minlength='1', min ='1', step="any"  :controls="false" )
	.columns
		.column
			SelectGeneral(v-model="form.tipo"  :title="$t('label.type')"  :options="referencias.tiposList"  :error="{ 'is-danger': $v.form.tipo.$error }"  :required='true')
		.column
		.column
	div(style="margin-top: 50px")
</template>
<script>
import { required, minLength, numeric} from "vuelidate/lib/validators";
//-components
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
        SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			tipo: {required},
			codigo: {required, minLength: minLength(2)},
			nombre: {required, minLength: minLength(4)},
			valor: {required, numeric, minLength: minLength(1)}
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>