<template lang="pug">
div()
	.columns
		.column
			SelectGeneral(v-model="form.empaque"  :title="$t('label.packaging')"  :options="referencias.empaquesList"  :error="{ 'is-danger': $v.form.empaque.$error }"  :required='true')
		.column
			
		.column
			
	div(style="margin-top: 50px")
</template>
<script>
import {required} from "vuelidate/lib/validators";
import SelectGeneral from '@/components/SelectGeneral'
export default {
	name: "step1",
	props: {
		model: Object,
		referencias: Object
	},
	components:{
		SelectGeneral
	},
	data() {
		return {
			form: this.model,
			isLoading:false,
			isValid:false
		};
	},
	validations: {
		form: {
			empaque: { required }
		}
	},
	methods: {
		valid() {
			this.$v.$touch();
			if (this.$v.$invalid) {
				this.isValid = false;
			} else {
				this.isValid = true;
				this.$emit("isValid")
			}
		}
	}
};
</script>